<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisea.cultivar.portal.mapper.ZhfwCultureZxListMapper">
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.portal.entity.ZhfwCultureZxList">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="zy" jdbcType="VARCHAR" property="zy" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="xxly" jdbcType="VARCHAR" property="xxly" />
    <result column="if_requ" jdbcType="CHAR" property="ifRequ" />
    <result column="pub_date" jdbcType="TIMESTAMP" property="pubDate" />
    <result column="culture_zx_type" jdbcType="VARCHAR" property="cultureZxType" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wisea.cultivar.portal.entity.ZhfwCultureZxList">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, zy, url, xxly, if_requ, pub_date, culture_zx_type, create_by, create_date,
    update_by, update_date, remarks, del_flag
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zhfw_culture_zx_list
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zhfw_culture_zx_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.portal.entity.ZhfwCultureZxList">
    insert into zhfw_culture_zx_list (id, title, zy,
      url, xxly, if_requ, pub_date,
      culture_zx_type, create_by, create_date,
      update_by, update_date, remarks,
      del_flag, content)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{zy,jdbcType=VARCHAR},
      #{url,jdbcType=VARCHAR}, #{xxly,jdbcType=VARCHAR}, #{ifRequ,jdbcType=CHAR}, #{pubDate,jdbcType=TIMESTAMP},
      #{cultureZxType,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.portal.entity.ZhfwCultureZxList">
    insert into zhfw_culture_zx_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="zy != null">
        zy,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="xxly != null">
        xxly,
      </if>
      <if test="ifRequ != null">
        if_requ,
      </if>
      <if test="pubDate != null">
        pub_date,
      </if>
      <if test="cultureZxType != null">
        culture_zx_type,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="zy != null">
        #{zy,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="xxly != null">
        #{xxly,jdbcType=VARCHAR},
      </if>
      <if test="ifRequ != null">
        #{ifRequ,jdbcType=CHAR},
      </if>
      <if test="pubDate != null">
        #{pubDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cultureZxType != null">
        #{cultureZxType,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.portal.entity.ZhfwCultureZxList">
    update zhfw_culture_zx_list
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="zy != null">
        zy = #{zy,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="xxly != null">
        xxly = #{xxly,jdbcType=VARCHAR},
      </if>
      <if test="ifRequ != null">
        if_requ = #{ifRequ,jdbcType=CHAR},
      </if>
      <if test="pubDate != null">
        pub_date = #{pubDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cultureZxType != null">
        culture_zx_type = #{cultureZxType,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wisea.cultivar.portal.entity.ZhfwCultureZxList">
    update zhfw_culture_zx_list
    set title = #{title,jdbcType=VARCHAR},
      zy = #{zy,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      xxly = #{xxly,jdbcType=VARCHAR},
      if_requ = #{ifRequ,jdbcType=CHAR},
      pub_date = #{pubDate,jdbcType=TIMESTAMP},
      culture_zx_type = #{cultureZxType,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.portal.entity.ZhfwCultureZxList">
    update zhfw_culture_zx_list
    set title = #{title,jdbcType=VARCHAR},
      zy = #{zy,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      xxly = #{xxly,jdbcType=VARCHAR},
      if_requ = #{ifRequ,jdbcType=CHAR},
      pub_date = #{pubDate,jdbcType=TIMESTAMP},
      culture_zx_type = #{cultureZxType,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPage" parameterType="com.wisea.cultivar.portal.po.ZhfwCultureZxListPagePo" resultType="com.wisea.cultivar.portal.vo.ZhfwCultureZxListListVo">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zhfw_culture_zx_list
    where del_flag = '0'
    <include refid="query_where"/>
    order by update_date desc
  </select>

  <sql id="query_where">
    <if test="title != null and title != ''">
      and (title like CONCAT('%', #{title,jdbcType=VARCHAR}, '%')  or zy like  CONCAT('%', #{title,jdbcType=VARCHAR}, '%') or content like  CONCAT('%', #{title,jdbcType=VARCHAR}, '%'))
    </if>
    <if test="cultureZxType != null and cultureZxType != ''">
      and  culture_zx_type = #{cultureZxType,jdbcType=VARCHAR}
    </if>
    <if test="pubDateStart != null and pubDateEnd != null">
      and update_date &gt;= DATE_FORMAT(#{pubDateStart},'%Y-%m-%d %H:%i:%s') and update_date &lt;= DATE_FORMAT(#{pubDateEnd},'%Y-%m-%d %H:%i:%s')
    </if>
    <if test="ifRequ != null and ifRequ != ''">
      and  if_requ = #{ifRequ,jdbcType=CHAR}
    </if>
  </sql>

  <select id="findList" parameterType="com.wisea.cultivar.portal.po.ZhfwCultureZxListListPo" resultType="com.wisea.cultivar.portal.vo.ZhfwCultureZxListListVo">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zhfw_culture_zx_list
    where del_flag = '0'
  </select>
  <update id="deleteLogic" parameterType="com.wisea.cultivar.portal.entity.ZhfwCultureZxList">
    update zhfw_culture_zx_list
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
