<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisea.cultivar.explorer.mapper.MainBusinessMassifMapper">
    <resultMap id="BaseResultMap" type="com.wisea.cultivar.explorer.entity.MainBusinessMassif">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="entp_info_mage_id" jdbcType="BIGINT" property="entpInfoMageId" />
        <result column="massif_name" jdbcType="VARCHAR" property="massifName" />
        <result column="massif_acre" jdbcType="DOUBLE" property="massifAcre" />
        <result column="bz_date" jdbcType="TIMESTAMP" property="bzDate" />
        <result column="comm_name" jdbcType="VARCHAR" property="commName" />
        <result column="location" jdbcType="VARCHAR" property="location" />
        <result column="coord_point_expres" jdbcType="LONGVARCHAR" property="coordPointExpres" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    </resultMap>
    <sql id="Base_Column_List">
    id, entp_info_mage_id, massif_name, massif_acre, bz_date, comm_name, location, coord_point_expres,
    create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from main_business_massif
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from main_business_massif
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.wisea.cultivar.explorer.entity.MainBusinessMassif">
    insert into main_business_massif (id, entp_info_mage_id, massif_name,
      massif_acre, bz_date, comm_name,
      location, coord_point_expres, create_by,
      create_date, update_by, update_date,
      remarks, del_flag)
    values (#{id,jdbcType=BIGINT}, #{entpInfoMageId,jdbcType=BIGINT}, #{massifName,jdbcType=VARCHAR},
      #{massifAcre,jdbcType=DOUBLE}, #{bzDate,jdbcType=TIMESTAMP}, #{commName,jdbcType=VARCHAR},
      #{location,jdbcType=VARCHAR}, #{coordPointExpres,jdbcType=LONGVARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.wisea.cultivar.explorer.entity.MainBusinessMassif">
        insert into main_business_massif
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="entpInfoMageId != null">
                entp_info_mage_id,
            </if>
            <if test="massifName != null">
                massif_name,
            </if>
            <if test="massifAcre != null">
                massif_acre,
            </if>
            <if test="bzDate != null">
                bz_date,
            </if>
            <if test="commName != null">
                comm_name,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="coordPointExpres != null">
                coord_point_expres,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="entpInfoMageId != null">
                #{entpInfoMageId,jdbcType=BIGINT},
            </if>
            <if test="massifName != null">
                #{massifName,jdbcType=VARCHAR},
            </if>
            <if test="massifAcre != null">
                #{massifAcre,jdbcType=DOUBLE},
            </if>
            <if test="bzDate != null">
                #{bzDate,jdbcType=TIMESTAMP},
            </if>
            <if test="commName != null">
                #{commName,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="coordPointExpres != null">
                #{coordPointExpres,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.explorer.entity.MainBusinessMassif">
        update main_business_massif
        <set>
            <if test="entpInfoMageId != null">
                entp_info_mage_id = #{entpInfoMageId,jdbcType=BIGINT},
            </if>
            <if test="massifName != null">
                massif_name = #{massifName,jdbcType=VARCHAR},
            </if>
            <if test="massifAcre != null">
                massif_acre = #{massifAcre,jdbcType=DOUBLE},
            </if>
            <if test="bzDate != null">
                bz_date = #{bzDate,jdbcType=TIMESTAMP},
            </if>
            <if test="commName != null">
                comm_name = #{commName,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="coordPointExpres != null">
                coord_point_expres = #{coordPointExpres,jdbcType=LONGVARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.explorer.entity.MainBusinessMassif">
    update main_business_massif
    set entp_info_mage_id = #{entpInfoMageId,jdbcType=BIGINT},
      massif_name = #{massifName,jdbcType=VARCHAR},
      massif_acre = #{massifAcre,jdbcType=DOUBLE},
      bz_date = #{bzDate,jdbcType=TIMESTAMP},
      comm_name = #{commName,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      coord_point_expres = #{coordPointExpres,jdbcType=LONGVARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="findPage" parameterType="com.wisea.cultivar.explorer.po.MainBusinessMassifPagePo" resultType="com.wisea.cultivar.explorer.vo.MainBusinessMassifListVo">
        select
        <include refid="Base_Column_List" />
        from main_business_massif
        where del_flag = '0' AND entp_info_mage_id = #{entpInfoMageId,jdbcType=BIGINT}
    </select>
    <select id="findList" parameterType="com.wisea.cultivar.explorer.po.MainBusinessMassifListPo" resultType="com.wisea.cultivar.explorer.vo.MainBusinessMassifListVo">
        select
        <include refid="Base_Column_List" />
        from main_business_massif
        where del_flag = '0' AND entp_info_mage_id = #{entpInfoMageId,jdbcType=BIGINT}
    </select>
    <update id="deleteLogic" parameterType="com.wisea.cultivar.explorer.entity.MainBusinessMassif">
    update main_business_massif
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}  OR entp_info_mage_id = #{id,jdbcType=BIGINT}
  </update>

    <delete id="deleteEntpInfoId" parameterType="java.lang.Long">
        delete from main_business_massif
        where entp_info_mage_id = #{id,jdbcType=BIGINT}
  </delete>
</mapper>
