<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.plant.mapper.MembMomentsLimitsMageMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.plant.entity.MembMomentsLimitsMage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memb_id" property="membId" jdbcType="BIGINT" />
    <result column="memb_moments_limits_type" property="membMomentsLimitsType" jdbcType="VARCHAR" />
    <result column="if_show" property="ifShow" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, memb_id, memb_moments_limits_type, if_show, create_by, create_date, update_by,
    update_date, remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from memb_moments_limits_mage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from memb_moments_limits_mage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.plant.entity.MembMomentsLimitsMage" >
    insert into memb_moments_limits_mage (id, memb_id, memb_moments_limits_type,
      if_show, create_by, create_date,
      update_by, update_date, remarks,
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{membId,jdbcType=BIGINT}, #{membMomentsLimitsType,jdbcType=VARCHAR},
      #{ifShow,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.plant.entity.MembMomentsLimitsMage" >
    insert into memb_moments_limits_mage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="membId != null" >
        memb_id,
      </if>
      <if test="membMomentsLimitsType != null" >
        memb_moments_limits_type,
      </if>
      <if test="ifShow != null" >
        if_show,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="membId != null" >
        #{membId,jdbcType=BIGINT},
      </if>
      <if test="membMomentsLimitsType != null" >
        #{membMomentsLimitsType,jdbcType=VARCHAR},
      </if>
      <if test="ifShow != null" >
        #{ifShow,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.plant.entity.MembMomentsLimitsMage" >
    update memb_moments_limits_mage
    <set >
      <if test="membId != null" >
        memb_id = #{membId,jdbcType=BIGINT},
      </if>
      <if test="membMomentsLimitsType != null" >
        memb_moments_limits_type = #{membMomentsLimitsType,jdbcType=VARCHAR},
      </if>
      <if test="ifShow != null" >
        if_show = #{ifShow,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.plant.entity.MembMomentsLimitsMage" >
    update memb_moments_limits_mage
    set memb_id = #{membId,jdbcType=BIGINT},
      memb_moments_limits_type = #{membMomentsLimitsType,jdbcType=VARCHAR},
      if_show = #{ifShow,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPageList" resultType="com.wisea.cultivar.plant.vo.MembMomentsLimitsMagePageListVo" parameterType="com.wisea.cultivar.plant.po.MembMomentsLimitsMagePageListPo" >
    select
	  memb_id membId,
	  memb_moments_limits_type membMomentsLimitsType,
	  if_show ifShow
	from
	  memb_moments_limits_mage
	where
	  del_flag = '0'
  </select>

  <!-- 查询圈子权限信息 -->
  <select id="findMembMomentsLimits" resultType="com.wisea.cultivar.plant.vo.MembMomentsLimitsMageInfoVo" parameterType="com.wisea.cultivar.plant.po.MembMomentsLimitsMagePageListPo" >
    select
      id,
	  memb_id membId,
	  memb_moments_limits_type membMomentsLimitsType,
	  if_show ifShow
	from
	  memb_moments_limits_mage
	where
	  del_flag = '0'
	  and memb_id = #{membId}
  </select>

  <!-- 条件查询 -->
  <select id="findByConditions" resultMap="BaseResultMap" parameterType="com.wisea.cultivar.plant.entity.MembMomentsLimitsMage" >
    select
    <include refid="Base_Column_List" />
    from memb_moments_limits_mage
    where del_flag = '0'
    <if test="membId != null" >
     and memb_id = #{membId}
    </if>
    <if test="membMomentsLimitsType != null">
     and memb_moments_limits_type = #{membMomentsLimitsType}
    </if>
  </select>
</mapper>
