<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.plant.mapper.RealPersonAuthMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.plant.entity.RealPersonAuth" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memb_id" property="membId" jdbcType="BIGINT" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="id_card_num" property="idCardNum" jdbcType="VARCHAR" />
    <result column="cont_tel" property="contTel" jdbcType="VARCHAR" />
    <result column="sfz_zm_url" property="sfzZmUrl" jdbcType="VARCHAR" />
    <result column="sfz_fm_url" property="sfzFmUrl" jdbcType="VARCHAR" />
    <result column="auth_date" property="authDate" jdbcType="TIMESTAMP" />
    <result column="entp_auth_state_type" property="entpAuthStateType" jdbcType="VARCHAR" />
    <result column="auth_state_type" property="authStateType" jdbcType="VARCHAR" />
    <result column="auth_type" property="authType" jdbcType="VARCHAR" />
    <result column="exam_fail_reason" property="examFailReason" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, memb_id, real_name, id_card_num, cont_tel, sfz_zm_url, sfz_fm_url, auth_date,
    entp_auth_state_type, auth_state_type, auth_type, exam_fail_reason, create_by, create_date,
    update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from real_person_auth
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from real_person_auth
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteLogicByMembId">
      update real_person_auth set del_flag = '1', update_date = sysdate() where memb_id = #{membId} and del_flag = '0'
    </delete>
    <insert id="insert" parameterType="com.wisea.cultivar.plant.entity.RealPersonAuth" >
    insert into real_person_auth (id, memb_id, real_name,
      id_card_num, cont_tel, sfz_zm_url,
      sfz_fm_url, auth_date, entp_auth_state_type,
      auth_state_type, auth_type, exam_fail_reason,
      create_by, create_date, update_by,
      update_date, remarks, del_flag
      )
    values (#{id,jdbcType=BIGINT}, #{membId,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR},
      #{idCardNum,jdbcType=VARCHAR}, #{contTel,jdbcType=VARCHAR}, #{sfzZmUrl,jdbcType=VARCHAR},
      #{sfzFmUrl,jdbcType=VARCHAR}, #{authDate,jdbcType=TIMESTAMP}, #{entpAuthStateType,jdbcType=VARCHAR},
      #{authStateType,jdbcType=VARCHAR}, #{authType,jdbcType=VARCHAR}, #{examFailReason,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.plant.entity.RealPersonAuth" >
    insert into real_person_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="membId != null" >
        memb_id,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="idCardNum != null" >
        id_card_num,
      </if>
      <if test="contTel != null" >
        cont_tel,
      </if>
      <if test="sfzZmUrl != null" >
        sfz_zm_url,
      </if>
      <if test="sfzFmUrl != null" >
        sfz_fm_url,
      </if>
      <if test="authDate != null" >
        auth_date,
      </if>
      <if test="entpAuthStateType != null" >
        entp_auth_state_type,
      </if>
      <if test="authStateType != null" >
        auth_state_type,
      </if>
      <if test="authType != null" >
        auth_type,
      </if>
      <if test="examFailReason != null" >
        exam_fail_reason,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="membId != null" >
        #{membId,jdbcType=BIGINT},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null" >
        #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="contTel != null" >
        #{contTel,jdbcType=VARCHAR},
      </if>
      <if test="sfzZmUrl != null" >
        #{sfzZmUrl,jdbcType=VARCHAR},
      </if>
      <if test="sfzFmUrl != null" >
        #{sfzFmUrl,jdbcType=VARCHAR},
      </if>
      <if test="authDate != null" >
        #{authDate,jdbcType=TIMESTAMP},
      </if>
      <if test="entpAuthStateType != null" >
        #{entpAuthStateType,jdbcType=VARCHAR},
      </if>
      <if test="authStateType != null" >
        #{authStateType,jdbcType=VARCHAR},
      </if>
      <if test="authType != null" >
        #{authType,jdbcType=VARCHAR},
      </if>
      <if test="examFailReason != null" >
        #{examFailReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.plant.entity.RealPersonAuth" >
    update real_person_auth
    <set >
      <if test="membId != null" >
        memb_id = #{membId,jdbcType=BIGINT},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null" >
        id_card_num = #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="contTel != null" >
        cont_tel = #{contTel,jdbcType=VARCHAR},
      </if>
      <if test="sfzZmUrl != null" >
        sfz_zm_url = #{sfzZmUrl,jdbcType=VARCHAR},
      </if>
      <if test="sfzFmUrl != null" >
        sfz_fm_url = #{sfzFmUrl,jdbcType=VARCHAR},
      </if>
      <if test="authDate != null" >
        auth_date = #{authDate,jdbcType=TIMESTAMP},
      </if>
      <if test="entpAuthStateType != null" >
        entp_auth_state_type = #{entpAuthStateType,jdbcType=VARCHAR},
      </if>
      <if test="authStateType != null" >
        auth_state_type = #{authStateType,jdbcType=VARCHAR},
      </if>
      <if test="authType != null" >
        auth_type = #{authType,jdbcType=VARCHAR},
      </if>
      <if test="examFailReason != null" >
        exam_fail_reason = #{examFailReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.plant.entity.RealPersonAuth" >
    update real_person_auth
    set memb_id = #{membId,jdbcType=BIGINT},
      real_name = #{realName,jdbcType=VARCHAR},
      id_card_num = #{idCardNum,jdbcType=VARCHAR},
      cont_tel = #{contTel,jdbcType=VARCHAR},
      sfz_zm_url = #{sfzZmUrl,jdbcType=VARCHAR},
      sfz_fm_url = #{sfzFmUrl,jdbcType=VARCHAR},
      auth_date = #{authDate,jdbcType=TIMESTAMP},
      entp_auth_state_type = #{entpAuthStateType,jdbcType=VARCHAR},
      auth_state_type = #{authStateType,jdbcType=VARCHAR},
      auth_type = #{authType,jdbcType=VARCHAR},
      exam_fail_reason = #{examFailReason,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPageList" resultType="com.wisea.cultivar.plant.vo.RealPersonAuthPageListVo" parameterType="com.wisea.cultivar.plant.po.RealPersonAuthPageListPo" >
    select
	  memb_id membId,
	  real_name realName,
	  id_card_num idCardNum,
	  cont_tel contTel,
	  sfz_zm_url sfzZmUrl,
	  sfz_fm_url sfzFmUrl,
	  auth_date authDate,
	  entp_auth_state_type entpAuthStateType,
	  auth_state_type authStateType,
	  auth_type authType,
	  exam_fail_reason examFailReason
	from
	  real_person_auth
	where
	  del_flag = '0'
  </select>
  <select id="findInfo" resultType="com.wisea.cultivar.plant.vo.RealPersonAuthInfoVo" parameterType="java.lang.Long" >
    select
	  memb_id membId,
	  real_name realName,
	  id_card_num idCardNum,
	  cont_tel contTel,
	  sfz_zm_url sfzZmUrl,
	  sfz_fm_url sfzFmUrl,
	  auth_date authDate,
	  entp_auth_state_type entpAuthStateType,
	  auth_state_type authStateType,
	  auth_type authType,
	  exam_fail_reason examFailReason
	from
	  real_person_auth
	where
	  del_flag = '0'
	  and id = #{id}
  </select>

  <!-- 条件查询 -->
  <select id="findInfoByConditions" resultType="com.wisea.cultivar.plant.entity.RealPersonAuth" parameterType="com.wisea.cultivar.plant.entity.RealPersonAuth" >
    select
      id,
	  memb_id membId,
	  real_name realName,
	  id_card_num idCardNum,
	  cont_tel contTel,
	  sfz_zm_url sfzZmUrl,
	  sfz_fm_url sfzFmUrl,
	  auth_date authDate,
	  entp_auth_state_type entpAuthStateType,
	  auth_state_type authStateType,
	  auth_type authType,
	  exam_fail_reason examFailReason
	from
	  real_person_auth
	where
	  del_flag = '0'
    <if test="membId != null" >
      and memb_id = #{membId}
    </if>
  </select>
</mapper>
