<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.plant.mapper.SubsidyExamRecdMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.plant.entity.SubsidyExamRecd" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="subsidy_appl_mage_id" property="subsidyApplMageId" jdbcType="BIGINT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operat_date" property="operatDate" jdbcType="TIMESTAMP" />
    <result column="operator_content" property="operatorContent" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subsidy_appl_mage_id, operator, operat_date, operator_content, create_by, create_date,
    update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from subsidy_exam_recd
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from subsidy_exam_recd
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.plant.entity.SubsidyExamRecd" >
    insert into subsidy_exam_recd (id, subsidy_appl_mage_id, operator,
      operat_date, operator_content, create_by,
      create_date, update_by, update_date,
      remarks, del_flag)
    values (#{id,jdbcType=BIGINT}, #{subsidyApplMageId,jdbcType=BIGINT}, #{operator,jdbcType=VARCHAR},
      #{operatDate,jdbcType=TIMESTAMP}, #{operatorContent,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.plant.entity.SubsidyExamRecd" >
    insert into subsidy_exam_recd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subsidyApplMageId != null" >
        subsidy_appl_mage_id,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="operatDate != null" >
        operat_date,
      </if>
      <if test="operatorContent != null" >
        operator_content,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="subsidyApplMageId != null" >
        #{subsidyApplMageId,jdbcType=BIGINT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatDate != null" >
        #{operatDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorContent != null" >
        #{operatorContent,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.plant.entity.SubsidyExamRecd" >
    update subsidy_exam_recd
    <set >
      <if test="subsidyApplMageId != null" >
        subsidy_appl_mage_id = #{subsidyApplMageId,jdbcType=BIGINT},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatDate != null" >
        operat_date = #{operatDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorContent != null" >
        operator_content = #{operatorContent,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.plant.entity.SubsidyExamRecd" >
    update subsidy_exam_recd
    set subsidy_appl_mage_id = #{subsidyApplMageId,jdbcType=BIGINT},
      operator = #{operator,jdbcType=VARCHAR},
      operat_date = #{operatDate,jdbcType=TIMESTAMP},
      operator_content = #{operatorContent,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPageList" resultType="com.wisea.cultivar.plant.vo.SubsidyExamRecdPageListVo" parameterType="com.wisea.cultivar.plant.po.SubsidyExamRecdPageListPo" >
    select
	  subsidy_appl_mage_id subsidyApplMageId,
	  operator operator,
	  operat_date operatDate,
	  operator_content operatorContent
	from
	  subsidy_exam_recd
	where
	  del_flag = '0'
  </select>
  <select id="findInfo" resultType="com.wisea.cultivar.plant.vo.SubsidyExamRecdInfoVo" parameterType="java.lang.Long" >
    select
	  subsidy_appl_mage_id subsidyApplMageId,
	  operator operator,
	  operat_date operatDate,
	  operator_content operatorContent
	from
	  subsidy_exam_recd
	where
	  del_flag = '0'
	  and id = #{id}
  </select>
</mapper>
