<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisea.cultivar.seedlings.mapper.SproutCatalogMageMapper">
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.seedlings.entity.SproutCatalogMage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sprout_catalog_name" jdbcType="VARCHAR" property="sproutCatalogName" />
      <result column="main_thrust_num" javaType="INTEGER" property="mainThrustNum"></result>
    <result column="sprout_year" jdbcType="INTEGER" property="sproutYear" />
    <result column="sprout_catalog_state_type" jdbcType="VARCHAR" property="sproutCatalogStateType" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, main_thrust_num,sprout_catalog_name, sprout_year,
      sprout_catalog_state_type, create_by, create_date,
    update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sprout_catalog_mage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sprout_catalog_mage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty = "id" parameterType="com.wisea.cultivar.seedlings.entity.SproutCatalogMage">
    insert into sprout_catalog_mage (id,main_thrust_num, sprout_catalog_name, sprout_year,
       sprout_catalog_state_type, create_by,
      create_date, update_by, update_date,
      remarks, del_flag)
    values (#{id,jdbcType=BIGINT},#{mainThrustNum,jdbcType=INTEGER},
     #{sproutCatalogName,jdbcType=VARCHAR}, #{sproutYear,jdbcType=INTEGER},
     #{sproutCatalogStateType,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.seedlings.entity.SproutCatalogMage">
    insert into sprout_catalog_mage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
        <if test="mainThrustNum != null">
            main_thrust_num,
      </if>
      <if test="sproutCatalogName != null">
        sprout_catalog_name,
      </if>
      <if test="sproutYear != null">
        sprout_year,
      </if>
      <if test="sproutCatalogStateType != null">
        sprout_catalog_state_type,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
        <if test="mainThrustNum != null">
            main_thrust_num,
        </if>
      <if test="sproutCatalogName != null">
        #{sproutCatalogName,jdbcType=VARCHAR},
      </if>
      <if test="sproutYear != null">
        #{sproutYear,jdbcType=INTEGER},
      </if>
      <if test="plantMode != null">
        #{plantMode,jdbcType=VARCHAR},
      </if>
      <if test="sproutCatalogStateType != null">
        #{sproutCatalogStateType,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" keyProperty="id" parameterType="com.wisea.cultivar.seedlings.entity.SproutCatalogMage">
    update sprout_catalog_mage
    <set>
      <if test="sproutCatalogName != null">
        sprout_catalog_name = #{sproutCatalogName,jdbcType=VARCHAR},
      </if>
        <if test="mainThrustNum != null">
            main_thrust_num = #{mainThrustNum,jdbcType=INTEGER},
        </if>
      <if test="sproutYear != null">
        sprout_year = #{sproutYear,jdbcType=INTEGER},
      </if>
      <if test="sproutCatalogStateType != null">
        sprout_catalog_state_type = #{sproutCatalogStateType,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.seedlings.entity.SproutCatalogMage">
    update sprout_catalog_mage
    set sprout_catalog_name = #{sproutCatalogName,jdbcType=VARCHAR},
        main_thrust_num = #{mainThrustNum,jdbcType=INTEGER},
      sprout_year = #{sproutYear,jdbcType=INTEGER},
      sprout_catalog_state_type = #{sproutCatalogStateType,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPage" parameterType="com.wisea.cultivar.seedlings.po.SproutCatalogMagePagePo" resultType="com.wisea.cultivar.seedlings.vo.SproutCatalogMageListVo">
    select
      scm.id, scm.main_thrust_num, scm.sprout_catalog_name, sprout_year,  sprout_catalog_state_type, scm.create_by, scm.create_date,sd.label as 'sproutCatalogStateTypeName',
      scm.update_by, scm.update_date, scm.remarks, scm.del_flag
    from sprout_catalog_mage scm
      LEFT JOIN
      sys_dict sd ON sd.`value` = scm.sprout_catalog_state_type
      AND sd.type = 'sprout_catalog_state_type'
        <include refid="query_where"/>
  </select>
  <select id="findList" parameterType="com.wisea.cultivar.seedlings.po.SproutCatalogMageListPo" resultType="com.wisea.cultivar.seedlings.vo.SproutCatalogMageListVo">
    select
      scm.id, scm.main_thrust_num,scm.update_date, scm.sprout_catalog_name, scm.sprout_year,
     sprout_catalog_state_type, scm.create_by, scm.create_date,sd.label as 'sproutCatalogStateTypeName',
      scm.update_by,  scm.remarks, scm.del_flag
      from sprout_catalog_mage scm
      LEFT JOIN
      sys_dict sd ON sd.`value` = scm.sprout_catalog_state_type
      AND sd.type = 'sprout_catalog_state_type'
      <include refid="query_where"/>
  </select>
    <sql id="query_where">
        where scm.del_flag = '0'
        <if test="sproutCatalogName != null and sproutCatalogName != ''">
            and scm.sprout_catalog_name like  concat('%',#{sproutCatalogName},'%')
        </if>
        <if test="sproutYear != null and sproutYear != ''">
            and scm.sprout_year = #{sproutYear}
        </if>
        <if test="sproutCatalogStateType != null and sproutCatalogStateType != ''">
            and scm.sprout_catalog_state_type = #{sproutCatalogStateType}
        </if>
        <if test="sprout != null">
            ORDER BY
            <choose>
                <when test='sprout==0'>
                    scm.update_date DESC
                </when>
                <when test='sprout==2'>
                    scm.sprout_year DESC
                </when>
                <when test='sprout==1'>
                    scm.sprout_year ASC
                </when>
            </choose>
        </if>
    </sql>
  <update id="deleteLogic" parameterType="com.wisea.cultivar.seedlings.entity.SproutCatalogMage">
    update sprout_catalog_mage
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <resultMap id="detaliMap" type="com.wisea.cultivar.seedlings.vo.SproutCatalogMageGetVo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="sprout_catalog_name" jdbcType="VARCHAR" property="sproutCatalogName" />
        <result column="sprout_year" jdbcType="INTEGER" property="sproutYear" />
        <result column="oil_tea_variet_id" jdbcType="BIGINT" property="oilTeaVarietId" />
        <result column="main_thrust_num" jdbcType="BIGINT" property="mainThrustNum" />
        <collection property="oilTeaVarietMageGetVos" ofType="com.wisea.cultivar.explorer.vo.OilTeaVarietMageGetVo">
            <result column="oilTeaVarietId" jdbcType="INTEGER" property="id" />
            <result column="oil_tea_variet_name" jdbcType="VARCHAR" property="oilTeaVarietName" />
            <result column="oil_tea_variet_no" jdbcType="VARCHAR" property="oilTeaVarietNo" />
            <result column="breed_entp" jdbcType="VARCHAR" property="breedEntp" />
            <result column="fit_are" jdbcType="VARCHAR" property="fitAre" />
            <result column="features" jdbcType="VARCHAR" property="features" />
            <result column="plant_mode" jdbcType="VARCHAR" property="plantMode" />
            <result column="acre_plant_cg" jdbcType="DOUBLE" property="acrePlantCg" />
            <result column="url" jdbcType="VARCHAR" property="url" />
        </collection>
        <collection property="entpAuthInfoVos" ofType="com.wisea.cultivar.common.vo.trade.EntpAuthInfoVo">
            <result column="entpAuthId" property="id" jdbcType="INTEGER"></result>
            <result column="membId" property="membId" jdbcType="INTEGER"></result>
            <result column="entp_name" property="entpName" jdbcType="VARCHAR" />
            <result column="conter" property="conter" jdbcType="VARCHAR" />
            <result column="cont_tel" property="contTel" jdbcType="VARCHAR" />
            <result column="address" property="address" jdbcType="VARCHAR" />
        </collection>
    </resultMap>
    <!-- 查询种苗信息 -->
    <select id="detalis" parameterType="com.wisea.cultivar.seedlings.po.SproutCatalogMageGetPo" resultMap="detaliMap">
            SELECT scm.id,scm.main_thrust_num,scm.sprout_catalog_name,scm.sprout_year,
			otvm.id as 'oilTeaVarietId',otvm.oil_tea_variet_no,otvm.url,otvm.breed_entp,
			otvm.oil_tea_variet_name,otvm.acre_plant_cg,otvm.fit_are,otvm.plant_mode,otvm.features,
            ea.id as 'entpAuthId',ea.memb_id as 'membId',ea.conter,ea.cont_tel,ea.address,ea.entp_name
            FROM sprout_catalog_mage scm
            LEFT JOIN sprout_entp se ON se.sprout_catalog_mage_id = scm.id
			LEFT JOIN sprout_main_thrust_info smti ON smti.sprout_catalog_mage_id = scm.id
            LEFT JOIN oil_tea_variet_mage otvm ON otvm.id = smti.oil_tea_variet_id
            LEFT JOIN entp_auth ea ON  ea.memb_id = se.memb_id
            WHERE scm.del_flag = '0' AND otvm.del_flag = '0'
            AND smti.del_flag = '0' AND se.del_flag = '0'
            AND ea.del_flag = '0'
            <if test="id != null and id != ''">
                AND  scm.id = #{id}
            </if>
            <if test="sproutYear != 0 and sproutYear != null">
                AND scm.sprout_year = #{sproutYear}
            </if>
            GROUP BY smti.id,se.id
    </select>

    <!-- 通过年份查询历年种苗信息 -->
    <select id="sproutCataLogDetails" parameterType="com.wisea.cultivar.seedlings.po.SproutCatalogMageGetPo" resultType="com.wisea.cultivar.explorer.vo.OilTeaVarietMageGetVo">
        SELECT scm.sprout_year,
        otvm.id ,otvm.oil_tea_variet_no,otvm.url,otvm.breed_entp,
        otvm.oil_tea_variet_name,otvm.acre_plant_cg,otvm.fit_are,otvm.plant_mode,otvm.features
        FROM sprout_catalog_mage scm
        LEFT JOIN sprout_main_thrust_info smti ON smti.sprout_catalog_mage_id = scm.id
        LEFT JOIN oil_tea_variet_mage otvm ON otvm.id = smti.oil_tea_variet_id
        WHERE scm.del_flag = '0' AND otvm.del_flag = '0'
        AND smti.del_flag = '0'
        <if test="sproutYear != 0 and sproutYear != null">
            AND scm.sprout_year = #{sproutYear}
        </if>
        GROUP BY smti.id
    </select>

    <select id="selectEntpDetails" parameterType="com.wisea.cultivar.seedlings.po.SproutCatalogMageGetPo" resultType="com.wisea.cultivar.common.vo.trade.EntpAuthInfoVo">
        SELECT ea.id,scm.id as 'scmId',se.id as 'seId',ea.id AS 'membId',slm.ser_list_no,ea.entp_name,
        SUM(slm.num) AS 'num',ROUND(SUM(slm.total_price),2) AS 'totalPrice'
        FROM sprout_catalog_mage scm
        LEFT JOIN sprout_entp se ON se.sprout_catalog_mage_id = scm.id
        LEFT JOIN zhfw_memb_info ea ON  ea.id = se.memb_id
        LEFT JOIN zhfw_comm_pub_info cpi ON cpi.memb_id = se.memb_id
        LEFT JOIN ser_list_mage slm ON slm.comm_pub_id = cpi.id
        WHERE se.del_flag = '0' AND ea.del_flag = '0' AND scm.del_flag = '0' AND cpi.del_flag = '0' AND slm .del_flag = '0'
        <if test="sproutYear != 0 and sproutYear != null">
            AND scm.sprout_year = #{sproutYear}
        </if>
        GROUP BY ea.id ORDER BY num DESC
    </select>
    <select id="findEntpInfoList" parameterType="com.wisea.cultivar.common.po.trade.EntpInfoMagePo" resultType="com.wisea.cultivar.common.vo.trade.EntpAuthInfoVo">
        select e.id,e.memb_id,e.entp_name,e.initials,e.area_prov,e.area_city,e.area_cou,
        e.conter,e.cont_tel,
        e.address,mi.memb_type,sd.label AS 'membTypeName',sd1.label AS 'authTypeName'
        from entp_auth e
        LEFT JOIN zhfw_memb_info mi ON e.memb_id = mi.id
        LEFT JOIN sys_dict sd ON sd.`value` = mi.memb_type AND sd.type = 'memb_type'
        LEFT JOIN sys_dict sd1 ON sd1.`value` = e.auth_type AND sd1.type = 'auth_type'
        <!-- 会员类型为企业的已认证的服务商 -->
        WHERE  mi.memb_type = '0' AND e.auth_type = '0'
            and mi.entp_auth_state_type = '0'
            and  e.del_flag = '0' and mi.del_flag = '0'
        <if test="query != null and query != ''">
            and  (e.entp_name LIKE concat('%',#{query},'%')
            or e.initials = #{query}
            )
        </if>
    </select>


    <select id="findBySproutYear" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select  * from sprout_catalog_mage where sprout_year = #{sproutYear} and del_flag != '1'
    </select>

    <select id="selectPlantEntp" resultType="com.wisea.cultivar.common.vo.trade.EntpAuthInfoVo">
        select e.id, e.entp_name, ifnull(f.num, '0') as num, TRUNCATE(ifnull(f.total_price, '0'), 2) as total_price
        from sprout_catalog_mage a
                 inner join sprout_entp b on b.sprout_catalog_mage_id = a.id
                 inner join sprout_main_thrust_info c ON c.sprout_catalog_mage_id = a.id
                 inner join oil_tea_variet_mage d ON d.id = c.oil_tea_variet_id
                 inner join zhfw_memb_info e ON e.id = b.memb_id
                 left join (select b.memb_id, sum(d.num) as num, sum(d.total_price) as total_price, c.comm_variet_name
                            from zhfw_comm_pub_info b
                                     inner join ser_list_mage d on d.comm_pub_id = b.id
                                     inner join zhfw_comm_variet_mage c on c.id = b.comm_variet_id
                            where b.del_flag = '0'
                              and d.del_flag = '0'
                              and d.ser_list_state_type = '4'
                            group by b.memb_id, c.comm_variet_name) f on f.memb_id = e.id and f.comm_variet_name = d.oil_tea_variet_name
        where a.del_flag = '0'
          and b.del_flag = '0'
          and c.del_flag = '0'
          and d.del_flag = '0'
          and e.del_flag = '0'
          and d.id = #{id}
    </select>
    <select id="selectBuyCoordinates" resultType="com.wisea.cultivar.seedlings.vo.BuySproutIndividualInfoListVo">
        SELECT b.id, b.jd, b.wd FROM
            ser_list_mage a
                INNER JOIN zhfw_memb_info b ON a.memb_id = b.id AND b.del_flag = '0'
                inner JOIN zhfw_comm_pub_info c ON c.id = a.comm_pub_id
                inner join zhfw_comm_variet_mage d on c.comm_variet_id = d.id
                inner join oil_tea_variet_mage e on e.oil_tea_variet_name = d.comm_variet_name
        WHERE a.del_flag = '0' and b.jd is not null and b.wd is not null  and e.id = #{id}
        GROUP BY b.id
    </select>
    <select id="selectBuyDetails" resultType="com.wisea.cultivar.seedlings.vo.BuySproutIndividualInfoListVo">
        SELECT a.id,
               IF(b.cont_name IS NULL, b.login_name, b.cont_name) AS plant_name,
               DATE_FORMAT(a.subscribe_date,'%Y-%m-%d %k:%i:%S') as start_date,
               a.num,
               concat(ifnull(f.name, ''), ifnull(g.name, ''), ifnull(h.name, '')) as plant_location
        FROM ser_list_mage a
                 INNER JOIN zhfw_memb_info b ON a.memb_id = b.id AND b.del_flag = '0'
                 inner JOIN zhfw_comm_pub_info c ON c.id = a.comm_pub_id
                 inner JOIN zhfw_comm_variet_mage d ON d.id = c.comm_variet_id
                 inner join oil_tea_variet_mage e on e.oil_tea_variet_name = d.comm_variet_name
                 left join sys_area f on b.area_code_prov = f.code
                 left join sys_area g on b.area_code_city = g.code
                 left join sys_area h on b.area_code_cou = h.code
        WHERE a.del_flag = '0'
          and b.del_flag = '0'
          and e.del_flag = '0'
          and e.id = #{varietiesId}
          and b.id = #{buyId}
    </select>
</mapper>
