<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.common.dao.tp.CommSampRelaMapper">
    <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.tp.CommSampRela">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="comm_pub_id" property="commPubId" jdbcType="BIGINT"/>
        <result column="samp_id" property="sampId" jdbcType="BIGINT"/>
        <result column="rela_type" property="relaType" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
    </resultMap>
    <resultMap id="ResultMap" type="com.wisea.cultivar.common.vo.tp.CommSampRelaGetVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="comm_pub_id" property="commPubId" jdbcType="BIGINT"/>
        <result column="samp_id" property="sampId" jdbcType="BIGINT"/>
        <result column="rela_type" property="relaType" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, comm_pub_id, samp_id, rela_type, create_by, create_date, update_by, update_date,
    remarks, del_flag
  </sql>
    <!-- 根据发布商品ID删除样品商品关系 -->
    <delete id="delByCommPubInfoId" parameterType="java.lang.Long">
        DELETE FROM comm_samp_rela WHERE comm_pub_id = #{id}
    </delete>
    <!-- 根据样品ID删除样品商品关系 检测关系 delBySampId -->
    <delete id="delBySampId" parameterType="com.wisea.cultivar.common.po.tp.SampInfoAddRelevancePo">
        DELETE FROM comm_samp_rela WHERE samp_id = #{sampId,jdbcType=BIGINT} and rela_type = #{relaType,jdbcType=VARCHAR}
    </delete>
    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into comm_samp_rela (id, comm_pub_id, samp_id,rela_type,
        create_by, create_date, update_by,update_date, remarks, del_flag)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.commPubId,jdbcType=BIGINT},
            #{item.sampId,jdbcType=BIGINT},#{item.relaType,jdbcType=VARCHAR},
            #{item.createBy,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR},
            #{item.updateDate,jdbcType=TIMESTAMP}, #{item.remarks,jdbcType=VARCHAR}, #{item.delFlag,jdbcType=CHAR})
        </foreach>
    </insert>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from comm_samp_rela
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from comm_samp_rela
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.wisea.cultivar.common.entity.tp.CommSampRela">
    insert into comm_samp_rela (id, comm_pub_id, samp_id,
      rela_type, create_by, create_date,
      update_by, update_date, remarks,
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{commPubId,jdbcType=BIGINT}, #{sampId,jdbcType=BIGINT},
      #{relaType,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.tp.CommSampRela">
        insert into comm_samp_rela
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="commPubId != null">
                comm_pub_id,
            </if>
            <if test="sampId != null">
                samp_id,
            </if>
            <if test="relaType != null">
                rela_type,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="commPubId != null">
                #{commPubId,jdbcType=BIGINT},
            </if>
            <if test="sampId != null">
                #{sampId,jdbcType=BIGINT},
            </if>
            <if test="relaType != null">
                #{relaType,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.tp.CommSampRela">
        update comm_samp_rela
        <set>
            <if test="commPubId != null">
                comm_pub_id = #{commPubId,jdbcType=BIGINT},
            </if>
            <if test="sampId != null">
                samp_id = #{sampId,jdbcType=BIGINT},
            </if>
            <if test="relaType != null">
                rela_type = #{relaType,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.tp.CommSampRela">
    update comm_samp_rela
    set comm_pub_id = #{commPubId,jdbcType=BIGINT},
      samp_id = #{sampId,jdbcType=BIGINT},
      rela_type = #{relaType,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="findPage" resultType="com.wisea.cultivar.common.vo.tp.CommSampRelaListVo"
            parameterType="com.wisea.cultivar.common.po.tp.CommSampRelaPagePo">
        select
        <include refid="Base_Column_List"/>
        from comm_samp_rela
        where del_flag = '0'
    </select>
    <!--根据商品id查询总数-->
    <select id="selCommPubInfoIdCount" resultType="java.lang.Integer" parameterType="com.wisea.cultivar.common.po.tp.SampInfoAddRelevancePo">
        SELECT
        COUNT(*)
        FROM
        comm_samp_rela
        WHERE comm_pub_id = #{commPubId,jdbcType=BIGINT}
        AND rela_type = #{relaType,jdbcType=VARCHAR}
    </select>
    <select id="selSampId" resultMap="ResultMap" parameterType="java.lang.Long">
        SELECT
          samp_id,
          rela_type
        FROM
	      comm_samp_rela
        WHERE
          comm_pub_id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findList" resultType="com.wisea.cultivar.common.vo.tp.CommSampRelaListVo"
            parameterType="com.wisea.cultivar.common.po.tp.CommSampRelaListPo">
        select
        <include refid="Base_Column_List"/>
        from comm_samp_rela
        where del_flag = '0'
    </select>
    <update id="deleteLogic" parameterType="com.wisea.cultivar.common.entity.tp.CommSampRela">
    update comm_samp_rela
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
