<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.common.dao.tp.FreightFormworkMageMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.tp.FreightFormworkMage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memb_id" property="membId" jdbcType="BIGINT" />
    <result column="freight_formwork_name" property="freightFormworkName" jdbcType="VARCHAR" />
    <result column="supt_distrib_area_count" property="suptDistribAreaCount" jdbcType="INTEGER" />
    <result column="no_distrib_area_count" property="noDistribAreaCount" jdbcType="INTEGER" />
    <result column="delivery_place" property="deliveryPlace" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="logistics_comp_id" property="logisticsCompId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, memb_id, freight_formwork_name, supt_distrib_area_count, no_distrib_area_count,
    delivery_place, create_by, create_date, update_by, update_date, remarks, del_flag,
    logistics_comp_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from freight_formwork_mage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from freight_formwork_mage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.common.entity.tp.FreightFormworkMage" >
    insert into freight_formwork_mage (id, memb_id, freight_formwork_name,
      supt_distrib_area_count, no_distrib_area_count,
      delivery_place, create_by, create_date,
      update_by, update_date, remarks,
      del_flag, logistics_comp_id)
    values (#{id,jdbcType=BIGINT}, #{membId,jdbcType=BIGINT}, #{freightFormworkName,jdbcType=VARCHAR},
      #{suptDistribAreaCount,jdbcType=INTEGER}, #{noDistribAreaCount,jdbcType=INTEGER},
      #{deliveryPlace,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR}, #{logisticsCompId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.tp.FreightFormworkMage" >
    insert into freight_formwork_mage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="membId != null" >
        memb_id,
      </if>
      <if test="freightFormworkName != null" >
        freight_formwork_name,
      </if>
      <if test="suptDistribAreaCount != null" >
        supt_distrib_area_count,
      </if>
      <if test="noDistribAreaCount != null" >
        no_distrib_area_count,
      </if>
      <if test="deliveryPlace != null" >
        delivery_place,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="logisticsCompId != null" >
        logistics_comp_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="membId != null" >
        #{membId,jdbcType=BIGINT},
      </if>
      <if test="freightFormworkName != null" >
        #{freightFormworkName,jdbcType=VARCHAR},
      </if>
      <if test="suptDistribAreaCount != null" >
        #{suptDistribAreaCount,jdbcType=INTEGER},
      </if>
      <if test="noDistribAreaCount != null" >
        #{noDistribAreaCount,jdbcType=INTEGER},
      </if>
      <if test="deliveryPlace != null" >
        #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="logisticsCompId != null" >
        #{logisticsCompId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.tp.FreightFormworkMage" >
    update freight_formwork_mage
    <set >
      <if test="membId != null" >
        memb_id = #{membId,jdbcType=BIGINT},
      </if>
      <if test="freightFormworkName != null" >
        freight_formwork_name = #{freightFormworkName,jdbcType=VARCHAR},
      </if>
      <if test="suptDistribAreaCount != null" >
        supt_distrib_area_count = #{suptDistribAreaCount,jdbcType=INTEGER},
      </if>
      <if test="noDistribAreaCount != null" >
        no_distrib_area_count = #{noDistribAreaCount,jdbcType=INTEGER},
      </if>
      <if test="deliveryPlace != null" >
        delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="logisticsCompId != null" >
        logistics_comp_id = #{logisticsCompId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.tp.FreightFormworkMage" >
    update freight_formwork_mage
    set memb_id = #{membId,jdbcType=BIGINT},
      freight_formwork_name = #{freightFormworkName,jdbcType=VARCHAR},
      supt_distrib_area_count = #{suptDistribAreaCount,jdbcType=INTEGER},
      no_distrib_area_count = #{noDistribAreaCount,jdbcType=INTEGER},
      delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      logistics_comp_id = #{logisticsCompId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPage" resultType="com.wisea.cultivar.common.vo.tp.FreightFormworkMageListVo" parameterType="com.wisea.cultivar.common.po.tp.FreightFormworkMagePagePo" >
    select
    <include refid="Base_Column_List" />
    from freight_formwork_mage
    where del_flag = '0'
  </select>
  <select id="findList" resultType="com.wisea.cultivar.common.vo.tp.FreightFormworkMageListVo" parameterType="com.wisea.cultivar.common.po.tp.FreightFormworkMageListPo" >
    select
    <include refid="Base_Column_List" />
    from freight_formwork_mage
    where del_flag = '0'
  </select>
  <update id="deleteLogic" parameterType="com.wisea.cultivar.common.entity.tp.FreightFormworkMage" >
    update freight_formwork_mage
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="Left_Join_Logistics_Comp_Column_List">
     t1.id AS id,
     t1.memb_id as memb_id,
     t1.delivery_place AS delivery_place,
     t1.logistics_comp_id AS logistics_comp_id,
     t1.freight_formwork_name AS freight_formwork_name,
     t1.supt_distrib_area_count AS supt_distrib_area_count,
     t1.no_distrib_area_count AS no_distrib_area_count,
     t1.create_by AS create_by,
     t1.create_date AS create_date,
     t1.update_by AS update_by,
     t1.update_date AS update_date,
     t1.remarks AS remarks,
     t1.del_flag AS del_flag
  </sql>
  <select id="findForPage" resultType="com.wisea.cultivar.common.vo.tp.FreightFormworkMageListVo"
          parameterType="com.wisea.cultivar.common.po.tp.FreightFormworkMagePagePo" >
    SELECT
    <include refid="Left_Join_Logistics_Comp_Column_List"/>
    FROM
    freight_formwork_mage t1
    WHERE
    t1.del_flag = '0'
    AND t1.memb_id = #{membId}
    <if test="freightFormworkName !=null and freightFormworkName !=''">
      AND INSTR( t1.freight_formwork_name, #{freightFormworkName} )
    </if>
    <if test="pageInfo.orderBy!=null and pageInfo.orderBy!=''">
      ORDER BY ${pageInfo.orderBy}
    </if>
  </select>

  <select id="findById" resultType="com.wisea.cultivar.common.vo.tp.FreightFormworkMageListVo" parameterType="java.lang.Long" >
    SELECT
    <include refid="Left_Join_Logistics_Comp_Column_List"/>
    FROM
    freight_formwork_mage t1
    WHERE
    t1.del_flag = '0'
    AND t1.id = #{id}
  </select>
  <select id="findByMemId" resultType="com.wisea.cultivar.common.vo.tp.FreightFormworkMageListVo"
          parameterType="java.lang.Long" >
    SELECT
    <include refid="Left_Join_Logistics_Comp_Column_List"/>
    FROM
    freight_formwork_mage t1
    LEFT JOIN logistics_comp_mage t2 ON t1.logistics_comp_id = t2.id
    WHERE
    t1.del_flag = '0'
    AND t2.del_flag = '0'
    AND t1.memb_id = #{membId}
  </select>
  <select id="listProductCodeByFormworkId" resultType="java.lang.String" parameterType="java.lang.Long">
    SELECT
    comm_num
    FROM
    comm_pub_info
    WHERE
    freight_formwork_id = #{id}
    AND del_flag = '0'
  </select>
</mapper>
