<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.common.dao.tp.JszlListMageMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.tp.JszlListMage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="jszl_catg_id" property="jszlCatgId" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="zy" property="zy" jdbcType="VARCHAR" />
    <result column="xxly" property="xxly" jdbcType="VARCHAR" />
    <result column="pub_date" property="pubDate" jdbcType="TIMESTAMP" />
    <result column="if_requ" property="ifRequ" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jszl_catg_id, url, title, zy, xxly, pub_date, if_requ, create_by, create_date,
    update_by, update_date, remarks, del_flag,content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from jszl_list_mage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from jszl_list_mage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.common.entity.tp.JszlListMage" >
    insert into jszl_list_mage (id, jszl_catg_id, url,
      title, zy, xxly, pub_date,
      if_requ, create_by, create_date,
      update_by, update_date, remarks,
      del_flag, content,ydl)
    values (#{id,jdbcType=BIGINT}, #{jszlCatgId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR},
      #{title,jdbcType=VARCHAR}, #{zy,jdbcType=VARCHAR}, #{xxly,jdbcType=VARCHAR}, #{pubDate,jdbcType=TIMESTAMP},
      #{ifRequ,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR}, #{content,jdbcType=LONGVARCHAR},#{ydl,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.tp.JszlListMage" >
    insert into jszl_list_mage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jszlCatgId != null" >
        jszl_catg_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="zy != null" >
        zy,
      </if>
      <if test="xxly != null" >
        xxly,
      </if>
      <if test="pubDate != null" >
        pub_date,
      </if>
      <if test="ifRequ != null" >
        if_requ,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="jszlCatgId != null" >
        #{jszlCatgId,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="zy != null" >
        #{zy,jdbcType=VARCHAR},
      </if>
      <if test="xxly != null" >
        #{xxly,jdbcType=VARCHAR},
      </if>
      <if test="pubDate != null" >
        #{pubDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ifRequ != null" >
        #{ifRequ,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.tp.JszlListMage" >
    update jszl_list_mage
    <set >
      <if test="jszlCatgId != null" >
        jszl_catg_id = #{jszlCatgId,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="zy != null" >
        zy = #{zy,jdbcType=VARCHAR},
      </if>
      <if test="xxly != null" >
        xxly = #{xxly,jdbcType=VARCHAR},
      </if>
      <if test="pubDate != null" >
        pub_date = #{pubDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ifRequ != null" >
        if_requ = #{ifRequ,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.tp.JszlListMage" >
    update jszl_list_mage
    set jszl_catg_id = #{jszlCatgId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      zy = #{zy,jdbcType=VARCHAR},
      xxly = #{xxly,jdbcType=VARCHAR},
      pub_date = #{pubDate,jdbcType=TIMESTAMP},
      if_requ = #{ifRequ,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteLogic" parameterType="com.wisea.cultivar.common.entity.tp.JszlListMage" >
    update jszl_list_mage
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="batchDeleteLogic" parameterType="java.util.List" >
    update jszl_list_mage
    set del_flag = '1'
    where id in
    <foreach collection="list" item="id" separator="," open="(" close=")">
        #{id}
    </foreach>
  </update>
  <update id="updJszlDjl" parameterType="java.lang.Long">
  	update jszl_list_mage set ydl = ydl+1 where id = #{id}
  </update>
  <select id="findPage" resultType="com.wisea.cultivar.common.vo.tp.portal.JszlListMageListVo"
  		parameterType="com.wisea.cultivar.common.po.tp.portal.JszlListMagePageListPo" >
    SELECT T1.id,T1.jszl_catg_id, T2.catg_name AS "jszlCatgName", T1.url, T1.title, T1.zy, T1.xxly, T1.pub_date, T1.if_requ,T1.content
	FROM jszl_list_mage T1
	LEFT JOIN jszl_catg_mage T2 ON T1.jszl_catg_id = T2.id
	<if test="notAlreadyTj != null and notAlreadyTj !=''">
	LEFT JOIN jszl_tj_mage T3 ON T3.jszl_list_id = T1.id AND T3.del_flag = '0'
	</if>
	WHERE T1.del_flag = '0'
		  <if test="notAlreadyTj != null and notAlreadyTj !=''">
		  	AND ISNULL(T3.sort) AND T1.if_requ = '0'
		  </if>
		  <if test="searchKey != null and searchKey != ''" >
	       	AND (T1.title LIKE CONCAT('%', #{searchKey}, '%')
            OR T1.xxly LIKE CONCAT('%', #{searchKey}, '%'))
		  </if>
		  <if test="jszlCatgId != null and jszlCatgId != ''" >
		  	AND T1.jszl_catg_id = #{jszlCatgId}
		  </if>
		  <if test="ifRequ != null and ifRequ != ''" >
		  	AND T1.if_requ = #{ifRequ}
		  </if>
		  <if test="pubDateStart != null" >
		  	 AND T1.pub_date <![CDATA[ >= ]]> #{pubDateStart}
		  </if>
		  <if test="pubDateEnd != null" >
		  	AND T1.pub_date <![CDATA[ <= ]]> #{pubDateEnd}
		  </if>
	 ORDER BY T1.pub_date DESC
  </select>
  <select id="hotList" resultType="com.wisea.cultivar.common.vo.tp.portal.JszlListMageListVo"
  			parameterType="com.wisea.cultivar.common.po.tp.portal.JszlHotListPo">
  	SELECT T1.id,T1.jszl_catg_id, T2.catg_name AS "jszlCatgName", T1.url, T1.title, T1.zy, T1.xxly, T1.pub_date, T1.if_requ,T1.content,T1.ydl
	FROM jszl_list_mage T1
	LEFT JOIN jszl_catg_mage T2 ON T1.jszl_catg_id = T2.id
	WHERE T1.del_flag = '0'
	ORDER BY T1.ydl desc
	LIMIT #{num}
  </select>
  <select id="findListForZltj" resultType="com.wisea.cultivar.common.vo.tp.portal.JszlListMageListVo"
  			parameterType="com.wisea.cultivar.common.po.tp.portal.JszlTjListPo">
  	SELECT T1.id,T1.jszl_catg_id, T2.catg_name AS "jszlCatgName", T1.url, T1.title, T1.zy, T1.xxly, T1.pub_date, T1.if_requ,T1.content
	FROM jszl_list_mage T1
	LEFT JOIN jszl_catg_mage T2 ON T1.jszl_catg_id = T2.id
	WHERE T1.del_flag = '0' AND T1.if_requ = '0'
		  <if test="list != null and list.size > 0">
		  	AND T1.ID NOT IN
		  	<foreach collection="list" item="id" separator="," open="(" close=")">
		        #{id}
		    </foreach>
		  </if>
	ORDER BY T1.pub_date DESC
  	<if test="num != null" >
  	LIMIT ${num}
  	</if>
  </select>
  <select id="getDetail" parameterType="com.wisea.cultivar.common.po.tp.portal.JszlListGetDetailPo"
                         resultType="com.wisea.cultivar.common.vo.tp.portal.JszlListMageDetailVo">
  	SELECT * FROM(
  		SELECT T1.*,@arownum :=@arownum + 1 rowNum
	FROM jszl_list_mage T1, (SELECT @arownum := 0) t
	WHERE T1.del_flag = '0' AND T1.if_requ = '0'
     	  <if test="jszlCatgId != null and jszlCatgId != ''">
     	  	AND T1.jszl_catg_id = #{jszlCatgId}
     	  </if>
     ORDER BY pub_date DESC
  	) T2 WHERE T2.ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="getDetailPreAndNext" parameterType="com.wisea.cultivar.common.po.tp.portal.JszlListGetDetailPo"
                         resultType="com.wisea.cultivar.common.vo.tp.portal.JszlListMageDetailVo">
  	SELECT * FROM(
  		SELECT T1.*,@arownum :=@arownum + 1 rowNum
	FROM jszl_list_mage T1, (SELECT @arownum := 0) t
	WHERE T1.del_flag = '0' AND T1.if_requ = '0'
     	  <if test="jszlCatgId != null and jszlCatgId != ''">
     	  	AND T1.jszl_catg_id = #{jszlCatgId}
     	  </if>
     ORDER BY pub_date DESC
  	) T2 WHERE rowNum IN (#{rowNum}-1,#{rowNum}+1)
  </select>
  <select id="findListForDetail" resultType="com.wisea.cultivar.common.vo.tp.portal.JszlListMageListVo"
  		parameterType="com.wisea.cultivar.common.po.tp.portal.JszlListPo" >
    SELECT T1.id,T1.jszl_catg_id, T2.catg_name AS "jszlCatgName", T1.url, T1.title, T1.zy, T1.xxly, T1.pub_date, T1.if_requ,T1.content
	FROM jszl_list_mage T1
	LEFT JOIN jszl_catg_mage T2 ON T1.jszl_catg_id = T2.id
	WHERE T1.del_flag = '0'
		  <if test="jszlCatgId != null and jszlCatgId != ''" >
		  	AND T1.jszl_catg_id = #{jszlCatgId}
		  </if>
	 ORDER BY T1.pub_date DESC
	 <if test="num != null and num != ''" >
		LIMIT #{num}
	 </if>
	</select>
</mapper>
