<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.common.dao.tp.LtaOrdInvoMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.tp.LtaOrdInvo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="lta_ord_id" property="ltaOrdId" jdbcType="BIGINT" />
    <result column="invo_type" property="invoType" jdbcType="VARCHAR" />
    <result column="invo_form" property="invoForm" jdbcType="VARCHAR" />
    <result column="invo_catg_type" property="invoCatgType" jdbcType="VARCHAR" />
    <result column="invo_title" property="invoTitle" jdbcType="VARCHAR" />
    <result column="tax_ident_num" property="taxIdentNum" jdbcType="VARCHAR" />
    <result column="regist_address" property="registAddress" jdbcType="VARCHAR" />
    <result column="regist_tel" property="registTel" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_acc_num" property="bankAccNum" jdbcType="VARCHAR" />
    <result column="default_flag" property="defaultFlag" jdbcType="CHAR" />
    <result column="rece_name" property="receName" jdbcType="VARCHAR" />
    <result column="address_prov" property="addressProv" jdbcType="VARCHAR" />
    <result column="address_city" property="addressCity" jdbcType="VARCHAR" />
    <result column="address_cou" property="addressCou" jdbcType="VARCHAR" />
    <result column="address_detail" property="addressDetail" jdbcType="VARCHAR" />
    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="logistics_comp_name" property="logisticsCompName" jdbcType="VARCHAR" />
    <result column="logistics_num" property="logisticsNum" jdbcType="VARCHAR" />
    <result column="appl_num" property="applNum" jdbcType="VARCHAR" />
    <result column="appl_date" property="applDate" jdbcType="TIMESTAMP" />
    <result column="draw_date" property="drawDate" jdbcType="TIMESTAMP" />
    <result column="draw_amount" property="drawAmount" jdbcType="DOUBLE" />
    <result column="invo_state" property="invoState" jdbcType="VARCHAR" />
    <result column="cancel_remarks" property="cancelRemarks" jdbcType="VARCHAR" />
    <result column="invo_content_type" property="invoContentType" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, lta_ord_id, invo_type, invo_form, invo_catg_type, invo_title, tax_ident_num,
    regist_address, regist_tel, bank_name, bank_acc_num, default_flag, rece_name, address_prov,
    address_city, address_cou, address_detail, zip_code, tel, logistics_comp_name, logistics_num,
    appl_num, appl_date, draw_date, draw_amount, invo_state, cancel_remarks, invo_content_type,
    create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>


  <!-- 分页查询卖家发票信息列表 -->
  <select id="findPageList" resultType="com.wisea.cultivar.common.vo.tp.trade.OrdInvoListVo" parameterType="com.wisea.cultivar.common.po.tp.trade.OrdInvoListPo">
    select
    loiv.id id,
    loiv.lta_ord_id ordId,
    loiv.appl_num applNum,
    mi.user_name buyUserName,
    loi.lta_ord_numb ordNum,
    loiv.draw_amount drawAmount,
    loiv.invo_type invoType,
    loiv.invo_title invoTitle,
    loiv.appl_date applDatem,
    loiv.draw_date drawDate,
    loiv.invo_catg_type invoCatgType,
    loiv.invo_state invoState
    from
      lta_ord_invo loiv
      left join lta_ord_info loi ON loi.id = loiv.lta_ord_id
      left join lta_cont_info lci on loi.lta_cont_id = lci.id
      left join memb_info mi ON mi.id = lci.buyer_id
    where
      lci.seller_id = #{sellerId}
      <if test="invoType != null and invoType != ''">
        and loiv.invo_type = #{invoType}
      </if>
      <if test="invoState != null and invoState != ''">
        and loiv.invo_state = #{invoState}
      </if>
      <if test="applStartDate != null">
        and loiv.appl_date >= #{applStartDate}
      </if>
      <if test="applEndDate != null">
        and loiv.appl_date <![CDATA[ <= ]]> #{applEndDate}
      </if>
      <if test="query != null and query != ''">
        and (
        loiv.appl_num like CONCAT('%', #{query}, '%')
        or mi.user_name like CONCAT('%', #{query}, '%')
        or loi.lta_ord_numb like CONCAT('%', #{query}, '%')
        or loiv.invo_title like CONCAT('%', #{query}, '%')
        )
      </if>
      order by
      loiv.appl_date desc
  </select>

  <!-- 查询发票详细信息 -->
  <select id="findOrdInvoInfo" parameterType="java.lang.Long" resultType="com.wisea.cultivar.common.vo.tp.trade.OrdInvoInfoVo" resultMap="ordInvoInfoResultMap">
    select
      loiv.id,
      loiv.lta_ord_id ordId,
      loiv.appl_num applNum,
      loiv.appl_date applDate,
      case when edi.comp_name is not null then edi.comp_name else pa.name end buyerAccountName,
      loiv.draw_amount drawAmount,
      loi.lta_ord_numb ordNum,
      loi.buyer_ord_date referOrdDate,
      loi.comm_amount commTotalPrice,
      loi.freight commTotalFreight,
      loi.delivery_info_type deliveryInfoType,
      loiv.invo_type invoType,
      loiv.invo_catg_type invoCatgType,
      loiv.invo_title invoTitle,
      loiv.tax_ident_num taxIdentNum,
      loiv.regist_address registAddress,
      loiv.regist_tel registTel,
      loiv.bank_name bankName,
      loiv.bank_acc_num bankAccNum,
      loiv.rece_name receName,
      max(CASE WHEN sa.`code` = loiv.address_prov THEN sa.`name` END) addressProvName,
      max(CASE WHEN sa.`code` = loiv.address_city THEN sa.`name` END) addressCityName,
      max(CASE WHEN sa.`code` = loiv.address_cou THEN sa.`name` END) addressCouName,
      loiv.address_detail addressDetail,
      loiv.zip_code zipCode,
      loiv.tel tel,
      loiv.invo_form invoForm,
      leif.ele_invo_url eleInvoUrl,
      leif.remarks eleInvoFileName,
      loiv.logistics_comp_name logisticsCompName,
      loiv.logistics_num logisticsNum,
      loiv.invo_state invoState,
      loiv.cancel_remarks cancelRemarks,
      loiv.draw_date drawDate
    from
      lta_ord_invo loiv
      left join lta_ord_info loi ON loi.id = loiv.lta_ord_id
      left join lta_cont_info lci on loi.lta_cont_id = lci.id
      left join memb_info mi ON mi.id = lci.buyer_id
      left join person_auth pa on pa.memb_id = lci.buyer_id
      left join lta_ele_invo_file leif on leif.ord_invo_id = loiv.id
      left join sys_area sa ON sa.`code` = loiv.address_prov OR sa.`code` = loiv.address_city OR sa.`code` = loiv.address_cou
      left join entp_data_info edi on edi.memb_id = lci.buyer_id and edi.auth_exam_state = '1' and edi.del_flag = '0'
    where
      loiv.id = #{id}
    group by
      loiv.id
  </select>

  <resultMap id="ordInvoInfoResultMap" type="com.wisea.cultivar.common.vo.tp.trade.OrdInvoInfoVo">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result property="ordId" column="ordId" jdbcType="BIGINT"/>
    <collection property="ordInvoComms" column="ordId" select="selectOrdInvoComms"/>
  </resultMap>

  <!-- 级联查询订单发票商品列表 -->
  <select id="selectOrdInvoComms" parameterType="java.lang.Long" resultType="com.wisea.cultivar.common.vo.tp.trade.OrdInvoCommVo">
    select
      locr.id,
      lcr.comm_num commArtNum,
      lcr.comm_name commName,
      round(locr.price * locr.sl_num, 2) commPriceAmount,
      0.0 commRefundAmount,
      0.0 commInvoiceAmount
    from
      lta_ord_comm_rela locr
      left join lta_comm_rela lcr on locr.lta_comm_rela_id = lcr.id
    where locr.lta_ord_id = #{id}
  </select>

  <!-- 根据订单ID查询长期协议订单发票信息 -->
  <select id="findByOrdId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from lta_ord_invo loi where loi.lta_ord_id = #{ltaOrdId}
  </select>

  <!-- 根据订单id删除订单发票信息 -->
  <delete id="delByOrdId" parameterType="java.lang.Long">
    delete from lta_ord_invo
    where lta_ord_id = #{ltaOrdId, jdbcType=BIGINT}
  </delete>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from lta_ord_invo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from lta_ord_invo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.common.entity.tp.LtaOrdInvo" >
    insert into lta_ord_invo (id, lta_ord_id, invo_type,
      invo_form, invo_catg_type, invo_title,
      tax_ident_num, regist_address, regist_tel,
      bank_name, bank_acc_num, default_flag,
      rece_name, address_prov, address_city,
      address_cou, address_detail, zip_code,
      tel, logistics_comp_name, logistics_num,
      appl_num, appl_date, draw_date,
      draw_amount, invo_state, cancel_remarks,
      invo_content_type, create_by, create_date,
      update_by, update_date, remarks,
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{ltaOrdId,jdbcType=BIGINT}, #{invoType,jdbcType=VARCHAR},
      #{invoForm,jdbcType=VARCHAR}, #{invoCatgType,jdbcType=VARCHAR}, #{invoTitle,jdbcType=VARCHAR},
      #{taxIdentNum,jdbcType=VARCHAR}, #{registAddress,jdbcType=VARCHAR}, #{registTel,jdbcType=VARCHAR},
      #{bankName,jdbcType=VARCHAR}, #{bankAccNum,jdbcType=VARCHAR}, #{defaultFlag,jdbcType=CHAR},
      #{receName,jdbcType=VARCHAR}, #{addressProv,jdbcType=VARCHAR}, #{addressCity,jdbcType=VARCHAR},
      #{addressCou,jdbcType=VARCHAR}, #{addressDetail,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR},
      #{tel,jdbcType=VARCHAR}, #{logisticsCompName,jdbcType=VARCHAR}, #{logisticsNum,jdbcType=VARCHAR},
      #{applNum,jdbcType=VARCHAR}, #{applDate,jdbcType=TIMESTAMP}, #{drawDate,jdbcType=TIMESTAMP},
      #{drawAmount,jdbcType=DOUBLE}, #{invoState,jdbcType=VARCHAR}, #{cancelRemarks,jdbcType=VARCHAR},
      #{invoContentType,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.tp.LtaOrdInvo" >
    insert into lta_ord_invo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ltaOrdId != null" >
        lta_ord_id,
      </if>
      <if test="invoType != null" >
        invo_type,
      </if>
      <if test="invoForm != null" >
        invo_form,
      </if>
      <if test="invoCatgType != null" >
        invo_catg_type,
      </if>
      <if test="invoTitle != null" >
        invo_title,
      </if>
      <if test="taxIdentNum != null" >
        tax_ident_num,
      </if>
      <if test="registAddress != null" >
        regist_address,
      </if>
      <if test="registTel != null" >
        regist_tel,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankAccNum != null" >
        bank_acc_num,
      </if>
      <if test="defaultFlag != null" >
        default_flag,
      </if>
      <if test="receName != null" >
        rece_name,
      </if>
      <if test="addressProv != null" >
        address_prov,
      </if>
      <if test="addressCity != null" >
        address_city,
      </if>
      <if test="addressCou != null" >
        address_cou,
      </if>
      <if test="addressDetail != null" >
        address_detail,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="logisticsCompName != null" >
        logistics_comp_name,
      </if>
      <if test="logisticsNum != null" >
        logistics_num,
      </if>
      <if test="applNum != null" >
        appl_num,
      </if>
      <if test="applDate != null" >
        appl_date,
      </if>
      <if test="drawDate != null" >
        draw_date,
      </if>
      <if test="drawAmount != null" >
        draw_amount,
      </if>
      <if test="invoState != null" >
        invo_state,
      </if>
      <if test="cancelRemarks != null" >
        cancel_remarks,
      </if>
      <if test="invoContentType != null" >
        invo_content_type,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ltaOrdId != null" >
        #{ltaOrdId,jdbcType=BIGINT},
      </if>
      <if test="invoType != null" >
        #{invoType,jdbcType=VARCHAR},
      </if>
      <if test="invoForm != null" >
        #{invoForm,jdbcType=VARCHAR},
      </if>
      <if test="invoCatgType != null" >
        #{invoCatgType,jdbcType=VARCHAR},
      </if>
      <if test="invoTitle != null" >
        #{invoTitle,jdbcType=VARCHAR},
      </if>
      <if test="taxIdentNum != null" >
        #{taxIdentNum,jdbcType=VARCHAR},
      </if>
      <if test="registAddress != null" >
        #{registAddress,jdbcType=VARCHAR},
      </if>
      <if test="registTel != null" >
        #{registTel,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccNum != null" >
        #{bankAccNum,jdbcType=VARCHAR},
      </if>
      <if test="defaultFlag != null" >
        #{defaultFlag,jdbcType=CHAR},
      </if>
      <if test="receName != null" >
        #{receName,jdbcType=VARCHAR},
      </if>
      <if test="addressProv != null" >
        #{addressProv,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null" >
        #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressCou != null" >
        #{addressCou,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null" >
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompName != null" >
        #{logisticsCompName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNum != null" >
        #{logisticsNum,jdbcType=VARCHAR},
      </if>
      <if test="applNum != null" >
        #{applNum,jdbcType=VARCHAR},
      </if>
      <if test="applDate != null" >
        #{applDate,jdbcType=TIMESTAMP},
      </if>
      <if test="drawDate != null" >
        #{drawDate,jdbcType=TIMESTAMP},
      </if>
      <if test="drawAmount != null" >
        #{drawAmount,jdbcType=DOUBLE},
      </if>
      <if test="invoState != null" >
        #{invoState,jdbcType=VARCHAR},
      </if>
      <if test="cancelRemarks != null" >
        #{cancelRemarks,jdbcType=VARCHAR},
      </if>
      <if test="invoContentType != null" >
        #{invoContentType,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.tp.LtaOrdInvo" >
    update lta_ord_invo
    <set >
      <if test="ltaOrdId != null" >
        lta_ord_id = #{ltaOrdId,jdbcType=BIGINT},
      </if>
      <if test="invoType != null" >
        invo_type = #{invoType,jdbcType=VARCHAR},
      </if>
      <if test="invoForm != null" >
        invo_form = #{invoForm,jdbcType=VARCHAR},
      </if>
      <if test="invoCatgType != null" >
        invo_catg_type = #{invoCatgType,jdbcType=VARCHAR},
      </if>
      <if test="invoTitle != null" >
        invo_title = #{invoTitle,jdbcType=VARCHAR},
      </if>
      <if test="taxIdentNum != null" >
        tax_ident_num = #{taxIdentNum,jdbcType=VARCHAR},
      </if>
      <if test="registAddress != null" >
        regist_address = #{registAddress,jdbcType=VARCHAR},
      </if>
      <if test="registTel != null" >
        regist_tel = #{registTel,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccNum != null" >
        bank_acc_num = #{bankAccNum,jdbcType=VARCHAR},
      </if>
      <if test="defaultFlag != null" >
        default_flag = #{defaultFlag,jdbcType=CHAR},
      </if>
      <if test="receName != null" >
        rece_name = #{receName,jdbcType=VARCHAR},
      </if>
      <if test="addressProv != null" >
        address_prov = #{addressProv,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null" >
        address_city = #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressCou != null" >
        address_cou = #{addressCou,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null" >
        address_detail = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompName != null" >
        logistics_comp_name = #{logisticsCompName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNum != null" >
        logistics_num = #{logisticsNum,jdbcType=VARCHAR},
      </if>
      <if test="applNum != null" >
        appl_num = #{applNum,jdbcType=VARCHAR},
      </if>
      <if test="applDate != null" >
        appl_date = #{applDate,jdbcType=TIMESTAMP},
      </if>
      <if test="drawDate != null" >
        draw_date = #{drawDate,jdbcType=TIMESTAMP},
      </if>
      <if test="drawAmount != null" >
        draw_amount = #{drawAmount,jdbcType=DOUBLE},
      </if>
      <if test="invoState != null" >
        invo_state = #{invoState,jdbcType=VARCHAR},
      </if>
      <if test="cancelRemarks != null" >
        cancel_remarks = #{cancelRemarks,jdbcType=VARCHAR},
      </if>
      <if test="invoContentType != null" >
        invo_content_type = #{invoContentType,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.tp.LtaOrdInvo" >
    update lta_ord_invo
    set lta_ord_id = #{ltaOrdId,jdbcType=BIGINT},
      invo_type = #{invoType,jdbcType=VARCHAR},
      invo_form = #{invoForm,jdbcType=VARCHAR},
      invo_catg_type = #{invoCatgType,jdbcType=VARCHAR},
      invo_title = #{invoTitle,jdbcType=VARCHAR},
      tax_ident_num = #{taxIdentNum,jdbcType=VARCHAR},
      regist_address = #{registAddress,jdbcType=VARCHAR},
      regist_tel = #{registTel,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_acc_num = #{bankAccNum,jdbcType=VARCHAR},
      default_flag = #{defaultFlag,jdbcType=CHAR},
      rece_name = #{receName,jdbcType=VARCHAR},
      address_prov = #{addressProv,jdbcType=VARCHAR},
      address_city = #{addressCity,jdbcType=VARCHAR},
      address_cou = #{addressCou,jdbcType=VARCHAR},
      address_detail = #{addressDetail,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      logistics_comp_name = #{logisticsCompName,jdbcType=VARCHAR},
      logistics_num = #{logisticsNum,jdbcType=VARCHAR},
      appl_num = #{applNum,jdbcType=VARCHAR},
      appl_date = #{applDate,jdbcType=TIMESTAMP},
      draw_date = #{drawDate,jdbcType=TIMESTAMP},
      draw_amount = #{drawAmount,jdbcType=DOUBLE},
      invo_state = #{invoState,jdbcType=VARCHAR},
      cancel_remarks = #{cancelRemarks,jdbcType=VARCHAR},
      invo_content_type = #{invoContentType,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 查询申请开票编码 -->
    <select id="findApplNumMaxNum" parameterType="java.lang.String" resultType="java.lang.String">
      SELECT appl_num FROM lta_ord_invo WHERE appl_num LIKE CONCAT(#{applNum}, '%')
    </select>
</mapper>
