<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.common.dao.tp.RefundApplMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.tp.RefundAppl" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="refund_amount" property="refundAmount" jdbcType="DOUBLE" />
    <result column="refund_reason_type" property="refundReasonType" jdbcType="BIGINT" />
    <result column="refund_desc" property="refundDesc" jdbcType="VARCHAR" />
    <result column="refund_num" property="refundNum" jdbcType="VARCHAR" />
    <result column="refund_appl_state_type" property="refundApplStateType" jdbcType="VARCHAR" />
    <result column="appl_date" property="applDate" jdbcType="TIMESTAMP" />
    <result column="handle_date" property="handleDate" jdbcType="TIMESTAMP" />
    <result column="ord_amount" property="ordAmount" jdbcType="DOUBLE" />
    <result column="seller_handle_remarks" property="sellerHandleRemarks" jdbcType="VARCHAR" />
    <result column="buy_sell_flag" property="buySellFlag" jdbcType="CHAR" />
    <result column="handler_type" property="handlerType" jdbcType="VARCHAR" />
    <result column="out_request_no" property="outRequestNo" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, refund_amount, refund_reason_type, refund_desc, refund_num, refund_appl_state_type,
    appl_date, handle_date, ord_amount, seller_handle_remarks, buy_sell_flag, handler_type,out_request_no,
    create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>

  <!-- 根据订单ID查询是否有待处理的申请 -->
  <select id="findByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from refund_appl ra where ra.order_id = #{id} and ra.refund_appl_state_type = '0'
  </select>

    <!-- 分页查询退款申请列表 -->
    <select id="findPageList" parameterType="com.wisea.cultivar.common.po.tp.trade.RefundApplListPo"
            resultType="com.wisea.cultivar.common.vo.tp.trade.RefundApplListVo">
        select
          ra.id,
          ra.refund_num refundNum,
          oi.ord_num ordNum,
          ra.appl_date applDate,
          mi1.user_name buyerAccount,
          mi1.id buyerId,
          ra.refund_amount refundAmount,
          ra.refund_appl_state_type refundApplStateType,
          dict.label,
          ra.handle_date handleDate
        from
          refund_appl ra
          inner join order_info oi on ra.order_id = oi.id
          inner join memb_info mi1 on mi1.id = oi.buyer_id
          LEFT JOIN (SELECT  VALUE,label FROM  sys_dict WHERE TYPE = 'refund_appl_state_type') dict
      		ON ra.refund_appl_state_type = dict.value
        where 1=1
        <if test="sellerId != null ">
            and oi.seller_id = #{sellerId}
        </if>
        <if test="refundApplStateType != null and refundApplStateType != ''">
            and ra.refund_appl_state_type = #{refundApplStateType}
        </if>
        <if test="startDate != null ">
            and ra.appl_date >= #{startDate}
        </if>
        <if test="endDate != null ">
            and ra.appl_date <![CDATA[ <= ]]> #{endDate}
        </if>
        <if test="startAmount != null ">
            and ra.refund_amount >= #{startAmount}
        </if>
        <if test="endAmount != null ">
            and ra.refund_amount <![CDATA[ <= ]]> #{endAmount}
        </if>
        <if test="query != null and query != ''">
          and (
            ra.refund_num like CONCAT('%', #{query}, '%')
            or oi.ord_num like CONCAT('%', #{query}, '%')
            or mi1.user_name like CONCAT('%', #{query}, '%')
          )
        </if>
        order by ra.appl_date desc
    </select>

    <!-- 查询退款申请各状态数量 -->
    <select id="findCountByState" parameterType="com.wisea.cultivar.common.po.tp.trade.RefundApplListPo"
            resultType="com.wisea.cultivar.common.vo.tp.StateTypeVo">
        select
          ra.refund_appl_state_type stateType,
          count(ra.refund_appl_state_type) count
        from
          refund_appl ra
          inner join order_info oi on ra.order_id = oi.id
          inner join memb_info mi1 on mi1.id = oi.buyer_id
        where 1=1
        <if test="sellerId != null ">
          and oi.seller_id = #{sellerId}
        </if>
        <if test="startDate != null ">
          and ra.appl_date >= #{startDate}
        </if>
        <if test="endDate != null ">
          and ra.appl_date <![CDATA[ <= ]]> #{endDate}
        </if>
        <if test="startAmount != null ">
          and ra.refund_amount >= #{startAmount}
        </if>
        <if test="endAmount != null ">
          and ra.refund_amount <![CDATA[ <= ]]> #{endAmount}
        </if>
        <if test="query != null and query != ''">
          and (
          ra.refund_num like CONCAT('%', #{query}, '%')
          or oi.ord_num like CONCAT('%', #{query}, '%')
          or mi1.user_name like CONCAT('%', #{query}, '%')
          )
        </if>
        group by
          ra.refund_appl_state_type
    </select>

    <!-- 查询退款申请详细信息 -->
  <select id="findInfo" resultType="com.wisea.cultivar.common.vo.tp.trade.RefundApplInfoVo" parameterType="com.wisea.cultivar.common.po.tp.LongIdPo">
    select
      ra.refund_num refundNum,
      ra.refund_appl_state_type refundApplStateType,
      oi.ord_num ordNum,
      oi.id ordId,
      ra.appl_date applDate,
      mi1.id buyerId,
      mi1.user_name buyerAccount,
      oi.amount_payable amountPayable,
      ra.refund_amount refundAmount,
      rrm.ord_cancel_reason refundReasonType,
      ra.refund_desc refundDesc,
      su.login_name updateBy,
      ra.handle_date handleDate,
      ra.seller_handle_remarks sellerHandleRemarks,
      ra.remarks remarks,
      oi.pay_method_type payMethodType
    from
      refund_appl ra
      inner join order_info oi on ra.order_id = oi.id
      inner join memb_info mi1 on mi1.id = oi.buyer_id
      left join sys_user su on su.id = ra.update_by
      left join ord_cancel_reason_mage rrm on rrm.id = ra.refund_reason_type
    where
      ra.id = #{id}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from refund_appl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from refund_appl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.common.entity.tp.RefundAppl" >
    insert into refund_appl (id, order_id, refund_amount,
      refund_reason_type, refund_desc, refund_num,
      refund_appl_state_type, appl_date, handle_date,
      ord_amount, seller_handle_remarks, buy_sell_flag,
      handler_type, out_request_no, create_by, create_date,
      update_by, update_date, remarks,
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{refundAmount,jdbcType=DOUBLE},
      #{refundReasonType,jdbcType=BIGINT}, #{refundDesc,jdbcType=VARCHAR}, #{refundNum,jdbcType=VARCHAR},
      #{refundApplStateType,jdbcType=VARCHAR}, #{applDate,jdbcType=TIMESTAMP}, #{handleDate,jdbcType=TIMESTAMP},
      #{ordAmount,jdbcType=DOUBLE}, #{sellerHandleRemarks,jdbcType=VARCHAR}, #{buySellFlag,jdbcType=CHAR},
      #{handlerType,jdbcType=VARCHAR}, #{outRequestNo,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.tp.RefundAppl" >
    insert into refund_appl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="refundAmount != null" >
        refund_amount,
      </if>
      <if test="refundReasonType != null" >
        refund_reason_type,
      </if>
      <if test="refundDesc != null" >
        refund_desc,
      </if>
      <if test="refundNum != null" >
        refund_num,
      </if>
      <if test="refundApplStateType != null" >
        refund_appl_state_type,
      </if>
      <if test="applDate != null" >
        appl_date,
      </if>
      <if test="handleDate != null" >
        handle_date,
      </if>
      <if test="ordAmount != null" >
        ord_amount,
      </if>
      <if test="sellerHandleRemarks != null" >
        seller_handle_remarks,
      </if>
      <if test="buySellFlag != null" >
        buy_sell_flag,
      </if>
      <if test="handlerType != null" >
        handler_type,
      </if>
      <if test="outRequestNo != null" >
        out_request_no,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=DOUBLE},
      </if>
      <if test="refundReasonType != null" >
        #{refundReasonType,jdbcType=BIGINT},
      </if>
      <if test="refundDesc != null" >
        #{refundDesc,jdbcType=VARCHAR},
      </if>
      <if test="refundNum != null" >
        #{refundNum,jdbcType=VARCHAR},
      </if>
      <if test="refundApplStateType != null" >
        #{refundApplStateType,jdbcType=VARCHAR},
      </if>
      <if test="applDate != null" >
        #{applDate,jdbcType=TIMESTAMP},
      </if>
      <if test="handleDate != null" >
        #{handleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ordAmount != null" >
        #{ordAmount,jdbcType=DOUBLE},
      </if>
      <if test="sellerHandleRemarks != null" >
        #{sellerHandleRemarks,jdbcType=VARCHAR},
      </if>
      <if test="buySellFlag != null" >
        #{buySellFlag,jdbcType=CHAR},
      </if>
      <if test="handlerType != null" >
        #{handlerType,jdbcType=VARCHAR},
      </if>
      <if test="outRequestNo != null" >
        #{outRequestNo,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.tp.RefundAppl" >
    update refund_appl
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="refundAmount != null" >
        refund_amount = #{refundAmount,jdbcType=DOUBLE},
      </if>
      <if test="refundReasonType != null" >
        refund_reason_type = #{refundReasonType,jdbcType=BIGINT},
      </if>
      <if test="refundDesc != null" >
        refund_desc = #{refundDesc,jdbcType=VARCHAR},
      </if>
      <if test="refundNum != null" >
        refund_num = #{refundNum,jdbcType=VARCHAR},
      </if>
      <if test="refundApplStateType != null" >
        refund_appl_state_type = #{refundApplStateType,jdbcType=VARCHAR},
      </if>
      <if test="applDate != null" >
        appl_date = #{applDate,jdbcType=TIMESTAMP},
      </if>
      <if test="handleDate != null" >
        handle_date = #{handleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ordAmount != null" >
        ord_amount = #{ordAmount,jdbcType=DOUBLE},
      </if>
      <if test="sellerHandleRemarks != null" >
        seller_handle_remarks = #{sellerHandleRemarks,jdbcType=VARCHAR},
      </if>
      <if test="buySellFlag != null" >
        buy_sell_flag = #{buySellFlag,jdbcType=CHAR},
      </if>
      <if test="handlerType != null" >
        handler_type = #{handlerType,jdbcType=VARCHAR},
      </if>
      <if test="outRequestNo != null" >
        out_request_no = #{outRequestNo,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.tp.RefundAppl" >
    update refund_appl
    set order_id = #{orderId,jdbcType=BIGINT},
      refund_amount = #{refundAmount,jdbcType=DOUBLE},
      refund_reason_type = #{refundReasonType,jdbcType=BIGINT},
      refund_desc = #{refundDesc,jdbcType=VARCHAR},
      refund_num = #{refundNum,jdbcType=VARCHAR},
      refund_appl_state_type = #{refundApplStateType,jdbcType=VARCHAR},
      appl_date = #{applDate,jdbcType=TIMESTAMP},
      handle_date = #{handleDate,jdbcType=TIMESTAMP},
      ord_amount = #{ordAmount,jdbcType=DOUBLE},
      seller_handle_remarks = #{sellerHandleRemarks,jdbcType=VARCHAR},
      buy_sell_flag = #{buySellFlag,jdbcType=CHAR},
      handler_type = #{handlerType,jdbcType=VARCHAR},
      out_request_no = #{outRequestNo,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPage" resultType="com.wisea.cultivar.common.vo.tp.RefundApplListVo" parameterType="com.wisea.cultivar.common.po.tp.RefundApplPagePo" >
    select
    <include refid="Base_Column_List" />
    from refund_appl
    where del_flag = '0'
  </select>
  <select id="findList" resultType="com.wisea.cultivar.common.vo.tp.RefundApplListVo" parameterType="com.wisea.cultivar.common.po.tp.RefundApplListPo" >
    select
    <include refid="Base_Column_List" />
    from refund_appl
    where del_flag = '0'
  </select>
  <update id="deleteLogic" parameterType="com.wisea.cultivar.common.entity.tp.RefundAppl" >
    update refund_appl
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 查询退款列表（取消订单） -->
  <select id="buyerRefundList" parameterType="com.wisea.cultivar.common.po.tp.trade.BuyerRefundApplListPo" resultType="com.wisea.cultivar.common.vo.tp.trade.BuyerRefundApplListVo">
  	SELECT
	  t1.id,
	  t1.refund_num,
	  t3.ord_num,
	  t1.ord_amount,
	  t1.refund_amount,
	  t1.appl_date,
	  t1.refund_appl_state_type,
	  t3.pay_method_type
	FROM refund_appl t1
	  LEFT JOIN order_info t3
	    ON t3.id = t1.order_id
	WHERE 1 = 1
    <if test="startDate != null">
    	and t1.appl_date >= #{startDate}
    </if>
    <if test="endDate != null">
    	and t1.appl_date <![CDATA[ <= ]]> #{endDate}
    </if>
    <if test="searchKey != null and searchKey != ''">
    	and (
    		t1.refund_num like CONCAT('%', #{searchKey}, '%')
    		or t3.ord_num like CONCAT('%', #{searchKey}, '%')
    	)
    </if>
    <if test="refundApplStateType != null and refundApplStateType != ''">
    	and t1.refund_appl_state_type = #{refundApplStateType,jdbcType=VARCHAR}
    </if>
    <if test="buyerId != null" >
        and t3.buyer_id = #{buyerId,jdbcType=BIGINT}
    </if>
    order by t1.appl_date desc
  </select>

  <resultMap id="RefundAppAppMap" type="com.wisea.cultivar.common.vo.tp.trade.BuyerRefundApplListVo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="refund_amount" property="refundAmount" jdbcType="DOUBLE" />
    <result column="refund_num" property="refundNum" jdbcType="VARCHAR" />
    <result column="refund_appl_state_type" property="refundApplStateType" jdbcType="VARCHAR" />
    <result column="appl_date" property="applDate" jdbcType="TIMESTAMP" />
    <result column="ord_amount" property="ordAmount" jdbcType="DOUBLE" />
    <result column="ord_num" property="ordNum" jdbcType="VARCHAR" />
    <collection property="ordCommRelaList" ofType="com.wisea.cultivar.common.vo.tp.trade.BuyerOrdCommRela">
    	<result column="comm_url" property="commUrl" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

  <!-- 小程序专供。。。。查询退款列表（取消订单） -->
  <select id="buyerRefundListApp" parameterType="com.wisea.cultivar.common.po.tp.trade.BuyerRefundApplListPo" resultMap="RefundAppAppMap">
  	SELECT
	  t1.id,
	  t1.refund_num,
	  t3.ord_num,
	  t1.ord_amount,
	  t1.refund_amount,
	  t1.appl_date,
	  t1.refund_appl_state_type,
	  t4.comm_url
	FROM refund_appl t1
	  LEFT JOIN order_info t3
	    ON t3.id = t1.order_id
	  LEFT JOIN ord_comm_rela t4
	    ON t3.id = t4.ord_id
	WHERE t1.id in (${ordIds})
    order by t1.appl_date desc
  </select>

   <!-- 查询退款详细信息 -->
  <select id="buyerRefundInfo" resultType="com.wisea.cultivar.common.vo.tp.trade.BuyerRefundApplInfoVo" parameterType="java.lang.Long">
  	SELECT
	  t1.id,
	  t1.order_id,
	  t1.refund_amount,
	  t1.refund_appl_state_type,
	  t1.refund_num,
	  t1.appl_date,
	  t1.handle_date,
	  t1.buy_sell_flag,
	  t1.handler_type,
	  t1.ord_amount,
	  t1.seller_handle_remarks,
	  t2.seller_id,
	  t3.comp_name              AS sellerCompName,
	  t4.ord_cancel_reason      as  ordCancelReason
	FROM refund_appl t1
	  LEFT JOIN order_info t2
	    ON t2.id = t1.order_id
	  LEFT JOIN entp_data_info t3
	    ON t3.memb_id = t2.seller_id
	    AND t3.auth_exam_state = '1'
	    AND t3.del_flag = '0'
	  LEFT JOIN ord_cancel_reason_mage t4
	    ON t4.id = t1.refund_reason_type
	    where 1=1
	and t1.id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 根据订单id查询最新一条退款信息 -->
  <select id="selNewRefundByOrdId" resultType="com.wisea.cultivar.common.vo.tp.trade.BuyerRefundApplInfoVo" parameterType="java.lang.Long">
  	SELECT
	  t1.id,
	  t1.refund_num,
	  t1.ord_amount,
	  t1.refund_amount,
	  t1.appl_date,
	  t1.handle_date,
	  t1.refund_appl_state_type,
	  t3.ord_cancel_reason
	FROM refund_appl t1
	  INNER JOIN (SELECT
	                MAX(create_date)              create_date,
	                order_id
	              FROM refund_appl
	              GROUP BY order_id) t2
	    ON t1.order_id = t2.order_id
	      AND t1.create_date = t2.create_date
	  LEFT JOIN ord_cancel_reason_mage t3
	    ON t3.id = t1.refund_reason_type
	WHERE 1 = 1
	and t1.order_id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findRefundApplNum" parameterType="java.lang.String" resultType="java.lang.String">
  	SELECT refund_num FROM refund_appl WHERE refund_num LIKE CONCAT(#{refundAppl}, '%')
  </select>
</mapper>
