<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.common.dao.tp.RetrospCxRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.tp.RetrospCxRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memb_id" property="membId" jdbcType="BIGINT" />
    <result column="retrosp_pc_num" property="retrospPcNum" jdbcType="VARCHAR" />
    <result column="retrosp_num_bh" property="retrospNumBh" jdbcType="VARCHAR" />
    <result column="cx_mode_type" property="cxModeType" jdbcType="VARCHAR" />
    <result column="cx_ip" property="cxIp" jdbcType="VARCHAR" />
    <result column="cx_date" property="cxDate" jdbcType="TIMESTAMP" />
    <result column="cx_address" property="cxAddress" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, memb_id, retrosp_pc_num, retrosp_num_bh, cx_mode_type, cx_ip, cx_date, cx_address,
    create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>

  <!-- 查询追溯查询记录列表 -->
  <select id="findCxRecordList" parameterType="com.wisea.cultivar.common.po.tp.retro.RetrospCxRecordListPo" resultType="com.wisea.cultivar.common.vo.tp.retro.RetrospCxRecordListVo">
    select
      rcr.id,
      rcr.retrosp_pc_num retrospPcNum,
      rcr.retrosp_num_bh retrospNumBh,
      rcr.cx_mode_type cxModeType,
      rcr.cx_ip cxIp,
      rcr.cx_date cxDate,
      rcr.cx_address cxAddress
    from
      retrosp_cx_record rcr
    where
      rcr.del_flag = '0'
      and rcr.memb_id = #{membId}
      <if test="query != null and query != ''">
        and (rcr.retrosp_num_bh like CONCAT('%', #{query}, '%')
            or rcr.retrosp_pc_num like CONCAT('%', #{query}, '%')
        )
      </if>
      <if test="cxModeType != null and cxModeType != ''">
        and rcr.cx_mode_type = #{cxModeType}
      </if>
      <if test="cxDateStart != null">
        and rcr.cx_date >= #{cxDateStart}
      </if>
      <if test="cxDateEnd != null">
        and rcr.cx_date <![CDATA[<=]]> #{cxDateEnd}
      </if>
    order by
      rcr.cx_date desc
  </select>

  <!-- 查询追溯码第一次查询记录 -->
  <select id="findFirstQueryRecord" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      *
    from
      retrosp_cx_record rcr
    where
      rcr.retrosp_num_bh = #{retroCode}
    order by
      rcr.cx_date
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from retrosp_cx_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from retrosp_cx_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.common.entity.tp.RetrospCxRecord" >
    insert into retrosp_cx_record (id, memb_id, retrosp_pc_num,
      retrosp_num_bh, cx_mode_type, cx_ip,
      cx_date, cx_address, create_by,
      create_date, update_by, update_date,
      remarks, del_flag)
    values (#{id,jdbcType=BIGINT}, #{membId,jdbcType=BIGINT}, #{retrospPcNum,jdbcType=VARCHAR},
      #{retrospNumBh,jdbcType=VARCHAR}, #{cxModeType,jdbcType=VARCHAR}, #{cxIp,jdbcType=VARCHAR},
      #{cxDate,jdbcType=TIMESTAMP}, #{cxAddress,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.tp.RetrospCxRecord" >
    insert into retrosp_cx_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="membId != null" >
        memb_id,
      </if>
      <if test="retrospPcNum != null" >
        retrosp_pc_num,
      </if>
      <if test="retrospNumBh != null" >
        retrosp_num_bh,
      </if>
      <if test="cxModeType != null" >
        cx_mode_type,
      </if>
      <if test="cxIp != null" >
        cx_ip,
      </if>
      <if test="cxDate != null" >
        cx_date,
      </if>
      <if test="cxAddress != null" >
        cx_address,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="membId != null" >
        #{membId,jdbcType=BIGINT},
      </if>
      <if test="retrospPcNum != null" >
        #{retrospPcNum,jdbcType=VARCHAR},
      </if>
      <if test="retrospNumBh != null" >
        #{retrospNumBh,jdbcType=VARCHAR},
      </if>
      <if test="cxModeType != null" >
        #{cxModeType,jdbcType=VARCHAR},
      </if>
      <if test="cxIp != null" >
        #{cxIp,jdbcType=VARCHAR},
      </if>
      <if test="cxDate != null" >
        #{cxDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cxAddress != null" >
        #{cxAddress,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.tp.RetrospCxRecord" >
    update retrosp_cx_record
    <set >
      <if test="membId != null" >
        memb_id = #{membId,jdbcType=BIGINT},
      </if>
      <if test="retrospPcNum != null" >
        retrosp_pc_num = #{retrospPcNum,jdbcType=VARCHAR},
      </if>
      <if test="retrospNumBh != null" >
        retrosp_num_bh = #{retrospNumBh,jdbcType=VARCHAR},
      </if>
      <if test="cxModeType != null" >
        cx_mode_type = #{cxModeType,jdbcType=VARCHAR},
      </if>
      <if test="cxIp != null" >
        cx_ip = #{cxIp,jdbcType=VARCHAR},
      </if>
      <if test="cxDate != null" >
        cx_date = #{cxDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cxAddress != null" >
        cx_address = #{cxAddress,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.tp.RetrospCxRecord" >
    update retrosp_cx_record
    set memb_id = #{membId,jdbcType=BIGINT},
      retrosp_pc_num = #{retrospPcNum,jdbcType=VARCHAR},
      retrosp_num_bh = #{retrospNumBh,jdbcType=VARCHAR},
      cx_mode_type = #{cxModeType,jdbcType=VARCHAR},
      cx_ip = #{cxIp,jdbcType=VARCHAR},
      cx_date = #{cxDate,jdbcType=TIMESTAMP},
      cx_address = #{cxAddress,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findCountByPcNum" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(id)
    from retrosp_cx_record
    where del_flag = '0'
    and retrosp_pc_num = #{pcNum}
  </select>
</mapper>
