<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.common.dao.tp.SelfMentionAddressMageMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.tp.SelfMentionAddressMage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memb_id" property="membId" jdbcType="BIGINT" />
    <result column="self_mention_address_name" property="selfMentionAddressName" jdbcType="VARCHAR" />
    <result column="address_prov" property="addressProv" jdbcType="VARCHAR" />
    <result column="address_city" property="addressCity" jdbcType="VARCHAR" />
    <result column="address_cou" property="addressCou" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="contacts_name" property="contactsName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="business_hours" property="businessHours" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, memb_id, self_mention_address_name, address_prov, address_city, address_cou,
    address, contacts_name, tel, business_hours, create_by, create_date, update_by, update_date,
    remarks, del_flag
  </sql>

  <!--  -->
  <select id="findListByMembId" resultType="com.wisea.cultivar.common.vo.tp.trade.SelfMentionAddressListVo">
    select
      smam.id id,
      smam.self_mention_address_name selfMentionAddressName,
      smam.address_prov addressProv,
      smam.address_city addressCity,
      smam.address_cou addressCou,
      max(CASE WHEN sa.`code` = smam.address_prov THEN sa.`name` END) addressProvName,
      max(CASE WHEN sa.`code` = smam.address_city THEN sa.`name` END) addressCityName,
      max(CASE WHEN sa.`code` = smam.address_cou THEN sa.`name` END) addressCouName,
      smam.address address,
      smam.contacts_name contactsName,
      smam.tel tel,
      smam.business_hours businessHours,
      smam.remarks remarks
    from
      self_mention_address_mage smam
      LEFT JOIN sys_area sa ON sa.`code` = smam.address_prov OR sa.`code` = smam.address_city OR sa.`code` = smam.address_cou
    where
      smam.del_flag != '1'
      and smam.memb_id = #{membId}
    group by
      smam.id
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from self_mention_address_mage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from self_mention_address_mage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.common.entity.tp.SelfMentionAddressMage" >
    insert into self_mention_address_mage (id, memb_id, self_mention_address_name,
      address_prov, address_city, address_cou,
      address, contacts_name, tel,
      business_hours, create_by, create_date,
      update_by, update_date, remarks,
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{membId,jdbcType=BIGINT}, #{selfMentionAddressName,jdbcType=VARCHAR},
      #{addressProv,jdbcType=VARCHAR}, #{addressCity,jdbcType=VARCHAR}, #{addressCou,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{contactsName,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},
      #{businessHours,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.tp.SelfMentionAddressMage" >
    insert into self_mention_address_mage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="membId != null" >
        memb_id,
      </if>
      <if test="selfMentionAddressName != null" >
        self_mention_address_name,
      </if>
      <if test="addressProv != null" >
        address_prov,
      </if>
      <if test="addressCity != null" >
        address_city,
      </if>
      <if test="addressCou != null" >
        address_cou,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="contactsName != null" >
        contacts_name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="businessHours != null" >
        business_hours,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="membId != null" >
        #{membId,jdbcType=BIGINT},
      </if>
      <if test="selfMentionAddressName != null" >
        #{selfMentionAddressName,jdbcType=VARCHAR},
      </if>
      <if test="addressProv != null" >
        #{addressProv,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null" >
        #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressCou != null" >
        #{addressCou,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactsName != null" >
        #{contactsName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="businessHours != null" >
        #{businessHours,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.tp.SelfMentionAddressMage" >
    update self_mention_address_mage
    <set >
      <if test="membId != null" >
        memb_id = #{membId,jdbcType=BIGINT},
      </if>
      <if test="selfMentionAddressName != null" >
        self_mention_address_name = #{selfMentionAddressName,jdbcType=VARCHAR},
      </if>
      <if test="addressProv != null" >
        address_prov = #{addressProv,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null" >
        address_city = #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressCou != null" >
        address_cou = #{addressCou,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactsName != null" >
        contacts_name = #{contactsName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="businessHours != null" >
        business_hours = #{businessHours,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.tp.SelfMentionAddressMage" >
    update self_mention_address_mage
    set memb_id = #{membId,jdbcType=BIGINT},
      self_mention_address_name = #{selfMentionAddressName,jdbcType=VARCHAR},
      address_prov = #{addressProv,jdbcType=VARCHAR},
      address_city = #{addressCity,jdbcType=VARCHAR},
      address_cou = #{addressCou,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      contacts_name = #{contactsName,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      business_hours = #{businessHours,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
