<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.common.dao.tp.ShopInfoMageMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.tp.ShopInfoMage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memb_id" property="membId" jdbcType="BIGINT" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_xcl_url" property="shopXclUrl" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, memb_id, shop_name, shop_xcl_url, create_by, create_date, update_by, update_date,
    remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from shop_info_mage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shop_info_mage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <select id="getShopInfoMageByMembId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from shop_info_mage
    where memb_id = #{membId,jdbcType=BIGINT} AND del_flag = '0'
  </select>
  <select id="getInfoByMembIdForIndex" resultType="com.wisea.cultivar.common.vo.tp.memb.ShopInfoMageGetVo" parameterType="java.lang.Long">
  	SELECT T1.memb_id,t1.shop_name,T1.shop_xcl_url,t4.compName,T1.id
	FROM (
	SELECT IF(ISNULL(T3.comp_name),T2.comp_name,T3.comp_name) AS 'compName',T2.id
	FROM memb_info T2 LEFT JOIN entp_data_info T3 ON T2.id = T3.memb_id AND t3.del_flag = '0'
	WHERE T2.id  = #{membId}
	) T4
	LEFT JOIN shop_info_mage T1 ON T1.memb_id = T4.id
  </select>
  <insert id="insert" parameterType="com.wisea.cultivar.common.entity.tp.ShopInfoMage" >
    insert into shop_info_mage (id, memb_id, shop_name,
      shop_xcl_url, create_by, create_date,
      update_by, update_date, remarks,
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{membId,jdbcType=BIGINT}, #{shopName,jdbcType=VARCHAR},
      #{shopXclUrl,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.tp.ShopInfoMage" >
    insert into shop_info_mage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="membId != null" >
        memb_id,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="shopXclUrl != null" >
        shop_xcl_url,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="membId != null" >
        #{membId,jdbcType=BIGINT},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopXclUrl != null" >
        #{shopXclUrl,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.tp.ShopInfoMage" >
    update shop_info_mage
    <set >
      <if test="membId != null" >
        memb_id = #{membId,jdbcType=BIGINT},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopXclUrl != null" >
        shop_xcl_url = #{shopXclUrl,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.tp.ShopInfoMage" >
    update shop_info_mage
    set memb_id = #{membId,jdbcType=BIGINT},
      shop_name = #{shopName,jdbcType=VARCHAR},
      shop_xcl_url = #{shopXclUrl,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteLogic" parameterType="com.wisea.cultivar.common.entity.tp.ShopInfoMage" >
    update shop_info_mage
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 查询店铺信息列表 -->
  <select id="findShopInfoList" parameterType="com.wisea.cultivar.common.po.tp.memb.ShopInfoListPo" resultType="com.wisea.cultivar.common.vo.tp.memb.ShopInfoMageForFloorListVo">
  	SELECT s.id,s.memb_id,IFNULL(s.shop_name,e.comp_name) AS 'shopName',m.user_name AS 'loginName'
	FROM shop_info_mage s
	INNER JOIN memb_info m ON m.id = s.memb_id AND m.del_flag = '0'
	LEFT JOIN entp_data_info e ON e.memb_id = s.memb_id AND e.del_flag = '0'
	WHERE s.del_flag = '0'
		  <if test="key != null and key != ''">
    	  	and(s.shop_name LIKE CONCAT('%', #{key}, '%')
    	  		OR m.user_name LIKE CONCAT('%', #{key}, '%'))
    	  </if>
  </select>
</mapper>
