<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.common.dao.tp.YmsjwhQyxxMapper">
    <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.tp.YmsjwhQyxx">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="qyss_catg_type" property="qyssCatgType" jdbcType="VARCHAR"/>
        <result column="entp_name" property="entpName" jdbcType="VARCHAR"/>
        <result column="assress" property="assress" jdbcType="VARCHAR"/>
        <result column="entp_js" property="entpJs" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="if_requ" property="ifRequ" jdbcType="CHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.wisea.cultivar.common.entity.tp.YmsjwhQyxx" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, qyss_catg_type, entp_name, assress, entp_js, url, sort, if_requ, create_by, create_date,
    update_by, update_date, remarks, del_flag
    </sql>
    <sql id="Blob_Column_List">
        content
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from ymsjwh_qyxx
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from ymsjwh_qyxx
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.wisea.cultivar.common.entity.tp.YmsjwhQyxx">
        insert into ymsjwh_qyxx (id, qyss_catg_type, entp_name,
                                 assress, entp_js, url,
                                 sort, if_requ, create_by,
                                 create_date, update_by, update_date,
                                 remarks, del_flag, content)
        values (#{id,jdbcType=BIGINT}, #{qyssCatgType,jdbcType=VARCHAR}, #{entpName,jdbcType=VARCHAR},
                #{assress,jdbcType=VARCHAR}, #{entpJs,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
                #{sort,jdbcType=INTEGER}, #{ifRequ,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR},
                #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
                #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, #{content,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.tp.YmsjwhQyxx">
        insert into ymsjwh_qyxx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="qyssCatgType != null">
                qyss_catg_type,
            </if>
            <if test="entpName != null">
                entp_name,
            </if>
            <if test="assress != null">
                assress,
            </if>
            <if test="entpJs != null">
                entp_js,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="ifRequ != null">
                if_requ,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="qyssCatgType != null">
                #{qyssCatgType,jdbcType=VARCHAR},
            </if>
            <if test="entpName != null">
                #{entpName,jdbcType=VARCHAR},
            </if>
            <if test="assress != null">
                #{assress,jdbcType=VARCHAR},
            </if>
            <if test="entpJs != null">
                #{entpJs,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="ifRequ != null">
                #{ifRequ,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.tp.YmsjwhQyxx">
        update ymsjwh_qyxx
        <set>
            <if test="qyssCatgType != null">
                qyss_catg_type = #{qyssCatgType,jdbcType=VARCHAR},
            </if>
            <if test="entpName != null">
                entp_name = #{entpName,jdbcType=VARCHAR},
            </if>
            <if test="assress != null">
                assress = #{assress,jdbcType=VARCHAR},
            </if>
            <if test="entpJs != null">
                entp_js = #{entpJs,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="ifRequ != null">
                if_requ = #{ifRequ,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wisea.cultivar.common.entity.tp.YmsjwhQyxx">
        update ymsjwh_qyxx
        set qyss_catg_type = #{qyssCatgType,jdbcType=VARCHAR},
            entp_name      = #{entpName,jdbcType=VARCHAR},
            assress        = #{assress,jdbcType=VARCHAR},
            entp_js        = #{entpJs,jdbcType=VARCHAR},
            url            = #{url,jdbcType=VARCHAR},
            sort           = #{sort,jdbcType=INTEGER},
            if_requ        = #{ifRequ,jdbcType=CHAR},
            create_by      = #{createBy,jdbcType=VARCHAR},
            create_date    = #{createDate,jdbcType=TIMESTAMP},
            update_by      = #{updateBy,jdbcType=VARCHAR},
            update_date    = #{updateDate,jdbcType=TIMESTAMP},
            remarks        = #{remarks,jdbcType=VARCHAR},
            del_flag       = #{delFlag,jdbcType=CHAR},
            content        = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.tp.YmsjwhQyxx">
        update ymsjwh_qyxx
        set qyss_catg_type = #{qyssCatgType,jdbcType=VARCHAR},
            entp_name      = #{entpName,jdbcType=VARCHAR},
            assress        = #{assress,jdbcType=VARCHAR},
            entp_js        = #{entpJs,jdbcType=VARCHAR},
            url            = #{url,jdbcType=VARCHAR},
            sort           = #{sort,jdbcType=INTEGER},
            if_requ        = #{ifRequ,jdbcType=CHAR},
            create_by      = #{createBy,jdbcType=VARCHAR},
            create_date    = #{createDate,jdbcType=TIMESTAMP},
            update_by      = #{updateBy,jdbcType=VARCHAR},
            update_date    = #{updateDate,jdbcType=TIMESTAMP},
            remarks        = #{remarks,jdbcType=VARCHAR},
            del_flag       = #{delFlag,jdbcType=CHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="deleteLogic" parameterType="com.wisea.cultivar.common.entity.tp.YmsjwhQyxx">
        update ymsjwh_qyxx
        set del_flag    = '1',
            update_by   = #{updateBy,jdbcType=VARCHAR},
            update_date = #{updateDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findForPages" resultType="com.wisea.cultivar.common.vo.tp.system.YmsjwhQyxxListVo"
            parameterType="com.wisea.cultivar.common.po.tp.system.YmsjwhQyxxPagePo">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from ymsjwh_qyxx
        where del_flag= '0'
        <if test="entpName!=null and entpName!=''">
            and entp_name = #{entpName}
        </if>
        <if test="qyssCatgType!=null and qyssCatgType!=''">
            and qyss_catg_type = #{qyssCatgType}
        </if>
        order by sort asc
    </select>

</mapper>
