<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.common.dao.bigdata.LogisticsMapInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.bigdata.LogisticsMapInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ord_num" property="ordNum" jdbcType="VARCHAR" />
    <result column="ord_comm" property="ordComm" jdbcType="VARCHAR" />
    <result column="cgs_name" property="cgsName" jdbcType="VARCHAR" />
    <result column="ord_date" property="ordDate" jdbcType="TIMESTAMP" />
    <result column="send_comm_date" property="sendCommDate" jdbcType="TIMESTAMP" />
    <result column="qd" property="qd" jdbcType="VARCHAR" />
    <result column="qd_zb" property="qdZb" jdbcType="VARCHAR" />
    <result column="zd" property="zd" jdbcType="VARCHAR" />
    <result column="zd_zb" property="zdZb" jdbcType="VARCHAR" />
    <result column="dqjd" property="dqjd" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ord_num, ord_comm, cgs_name, ord_date, send_comm_date, qd, qd_zb, zd, zd_zb,
    dqjd, create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from logistics_map_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from logistics_map_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.common.entity.bigdata.LogisticsMapInfo" >
    insert into logistics_map_info (id, ord_num, ord_comm,
      cgs_name, ord_date, send_comm_date,
      qd, qd_zb, zd, zd_zb,
      dqjd, create_by, create_date,
      update_by, update_date, remarks,
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{ordNum,jdbcType=VARCHAR}, #{ordComm,jdbcType=VARCHAR},
      #{cgsName,jdbcType=VARCHAR}, #{ordDate,jdbcType=TIMESTAMP}, #{sendCommDate,jdbcType=TIMESTAMP},
      #{qd,jdbcType=VARCHAR}, #{qdZb,jdbcType=VARCHAR}, #{zd,jdbcType=VARCHAR}, #{zdZb,jdbcType=VARCHAR},
      #{dqjd,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.bigdata.LogisticsMapInfo" >
    insert into logistics_map_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ordNum != null" >
        ord_num,
      </if>
      <if test="ordComm != null" >
        ord_comm,
      </if>
      <if test="cgsName != null" >
        cgs_name,
      </if>
      <if test="ordDate != null" >
        ord_date,
      </if>
      <if test="sendCommDate != null" >
        send_comm_date,
      </if>
      <if test="qd != null" >
        qd,
      </if>
      <if test="qdZb != null" >
        qd_zb,
      </if>
      <if test="zd != null" >
        zd,
      </if>
      <if test="zdZb != null" >
        zd_zb,
      </if>
      <if test="dqjd != null" >
        dqjd,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ordNum != null" >
        #{ordNum,jdbcType=VARCHAR},
      </if>
      <if test="ordComm != null" >
        #{ordComm,jdbcType=VARCHAR},
      </if>
      <if test="cgsName != null" >
        #{cgsName,jdbcType=VARCHAR},
      </if>
      <if test="ordDate != null" >
        #{ordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendCommDate != null" >
        #{sendCommDate,jdbcType=TIMESTAMP},
      </if>
      <if test="qd != null" >
        #{qd,jdbcType=VARCHAR},
      </if>
      <if test="qdZb != null" >
        #{qdZb,jdbcType=VARCHAR},
      </if>
      <if test="zd != null" >
        #{zd,jdbcType=VARCHAR},
      </if>
      <if test="zdZb != null" >
        #{zdZb,jdbcType=VARCHAR},
      </if>
      <if test="dqjd != null" >
        #{dqjd,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.bigdata.LogisticsMapInfo" >
    update logistics_map_info
    <set >
      <if test="ordNum != null" >
        ord_num = #{ordNum,jdbcType=VARCHAR},
      </if>
      <if test="ordComm != null" >
        ord_comm = #{ordComm,jdbcType=VARCHAR},
      </if>
      <if test="cgsName != null" >
        cgs_name = #{cgsName,jdbcType=VARCHAR},
      </if>
      <if test="ordDate != null" >
        ord_date = #{ordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendCommDate != null" >
        send_comm_date = #{sendCommDate,jdbcType=TIMESTAMP},
      </if>
      <if test="qd != null" >
        qd = #{qd,jdbcType=VARCHAR},
      </if>
      <if test="qdZb != null" >
        qd_zb = #{qdZb,jdbcType=VARCHAR},
      </if>
      <if test="zd != null" >
        zd = #{zd,jdbcType=VARCHAR},
      </if>
      <if test="zdZb != null" >
        zd_zb = #{zdZb,jdbcType=VARCHAR},
      </if>
      <if test="dqjd != null" >
        dqjd = #{dqjd,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.bigdata.LogisticsMapInfo" >
    update logistics_map_info
    set ord_num = #{ordNum,jdbcType=VARCHAR},
      ord_comm = #{ordComm,jdbcType=VARCHAR},
      cgs_name = #{cgsName,jdbcType=VARCHAR},
      ord_date = #{ordDate,jdbcType=TIMESTAMP},
      send_comm_date = #{sendCommDate,jdbcType=TIMESTAMP},
      qd = #{qd,jdbcType=VARCHAR},
      qd_zb = #{qdZb,jdbcType=VARCHAR},
      zd = #{zd,jdbcType=VARCHAR},
      zd_zb = #{zdZb,jdbcType=VARCHAR},
      dqjd = #{dqjd,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPage" resultType="com.wisea.cultivar.common.vo.bigdata.LogisticsMapInfoListVo" parameterType="com.wisea.cultivar.common.po.bigdata.LogisticsMapInfoPagePo" >
    select
    <include refid="Base_Column_List" />
    from logistics_map_info
    where del_flag = '0'
    <if test="sendCommDate!=null">
      and send_comm_date = #{sendCommDate}
    </if>
    <if test="ordDate!=null">
      and ord_date = #{ordDate}
    </if>
    <if test="ordNum!=null and ordNum!=''">
      and ord_num like CONCAT('%',#{ordNum},'%')
    </if>
    order by create_date desc
  </select>
  <select id="findList" resultType="com.wisea.cultivar.common.vo.bigdata.LogisticsMapInfoListVo" parameterType="com.wisea.cultivar.common.po.bigdata.LogisticsMapInfoListPo" >
    select
    <include refid="Base_Column_List" />
    from logistics_map_info
    where del_flag = '0'
  </select>
  <select id="findAllEntity" resultType="com.wisea.cultivar.common.entity.bigdata.LogisticsMapInfo">
    select
    <include refid="Base_Column_List" />
    from logistics_map_info
    where del_flag = '0'
  </select>
  <update id="deleteLogic" parameterType="com.wisea.cultivar.common.entity.bigdata.LogisticsMapInfo" >
    update logistics_map_info
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
