<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisea.cultivar.common.dao.bigdata.LogisticsBasicDataMapper">
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.bigdata.LogisticsBasicData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="logistics_basic_data_type" jdbcType="VARCHAR" property="logisticsBasicDataType" />
    <result column="num" jdbcType="DOUBLE" property="num" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, logistics_basic_data_type, num, sort, create_by, create_date, update_by, update_date,
    remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from logistics_basic_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from logistics_basic_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.common.entity.bigdata.LogisticsBasicData">
    insert into logistics_basic_data (id, logistics_basic_data_type, num,
      sort, create_by, create_date,
      update_by, update_date, remarks,
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{logisticsBasicDataType,jdbcType=VARCHAR}, #{num,jdbcType=DOUBLE},
      #{sort,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.bigdata.LogisticsBasicData">
    insert into logistics_basic_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logisticsBasicDataType != null">
        logistics_basic_data_type,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="logisticsBasicDataType != null">
        #{logisticsBasicDataType,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=DOUBLE},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.bigdata.LogisticsBasicData">
    update logistics_basic_data
    <set>
      <if test="logisticsBasicDataType != null">
        logistics_basic_data_type = #{logisticsBasicDataType,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=DOUBLE},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.bigdata.LogisticsBasicData">
    update logistics_basic_data
    set logistics_basic_data_type = #{logisticsBasicDataType,jdbcType=VARCHAR},
      num = #{num,jdbcType=DOUBLE},
      sort = #{sort,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPage" parameterType="com.wisea.cultivar.common.po.bigdata.LogisticsBasicDataPagePo" resultType="com.wisea.cultivar.common.vo.bigdata.LogisticsBasicDataListVo">
    select
    <include refid="Base_Column_List" />
    from logistics_basic_data
    where del_flag = '0'
  </select>
  <select id="findList" parameterType="com.wisea.cultivar.common.po.bigdata.LogisticsBasicDataListPo" resultType="com.wisea.cultivar.common.vo.bigdata.LogisticsBasicDataListVo">
    select
    <include refid="Base_Column_List" />
    from logistics_basic_data
    where del_flag = '0'
    order by logistics_basic_data_type asc
  </select>
  <update id="deleteLogic" parameterType="com.wisea.cultivar.common.entity.bigdata.LogisticsBasicData">
    update logistics_basic_data
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
