<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.cultivar.common.dao.bigdata.WljcMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.cultivar.common.entity.bigdata.Wljc" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="clzs" property="clzs" jdbcType="INTEGER" />
    <result column="jkcls" property="jkcls" jdbcType="INTEGER" />
    <result column="ztcls" property="ztcls" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, clzs, jkcls, ztcls, create_by, create_date, update_by, update_date, remarks,
    del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from wljc
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wljc
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.cultivar.common.entity.bigdata.Wljc" >
    insert into wljc (id, clzs, jkcls,
      ztcls, create_by, create_date,
      update_by, update_date, remarks,
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{clzs,jdbcType=INTEGER}, #{jkcls,jdbcType=INTEGER},
      #{ztcls,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.cultivar.common.entity.bigdata.Wljc" >
    insert into wljc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clzs != null" >
        clzs,
      </if>
      <if test="jkcls != null" >
        jkcls,
      </if>
      <if test="ztcls != null" >
        ztcls,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clzs != null" >
        #{clzs,jdbcType=INTEGER},
      </if>
      <if test="jkcls != null" >
        #{jkcls,jdbcType=INTEGER},
      </if>
      <if test="ztcls != null" >
        #{ztcls,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.cultivar.common.entity.bigdata.Wljc" >
    update wljc
    <set >
      <if test="clzs != null" >
        clzs = #{clzs,jdbcType=INTEGER},
      </if>
      <if test="jkcls != null" >
        jkcls = #{jkcls,jdbcType=INTEGER},
      </if>
      <if test="ztcls != null" >
        ztcls = #{ztcls,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.cultivar.common.entity.bigdata.Wljc" >
    update wljc
    set clzs = #{clzs,jdbcType=INTEGER},
      jkcls = #{jkcls,jdbcType=INTEGER},
      ztcls = #{ztcls,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPage" resultType="com.wisea.cultivar.common.vo.bigdata.WljcListVo" parameterType="com.wisea.cultivar.common.po.bigdata.WljcPagePo" >
    select
    <include refid="Base_Column_List" />
    from wljc
    where del_flag = '0'
  </select>
  <select id="findList" resultType="com.wisea.cultivar.common.vo.bigdata.WljcListVo" parameterType="com.wisea.cultivar.common.po.bigdata.WljcListPo" >
    select
    <include refid="Base_Column_List" />
    from wljc
    where del_flag = '0'
  </select>
  <update id="deleteLogic" parameterType="com.wisea.cultivar.common.entity.bigdata.Wljc" >
    update wljc
    set del_flag = '1',update_by = #{updateBy,jdbcType=VARCHAR},update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
