<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.transac.common.dao.FollowCommMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.transac.common.entity.FollowComm" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memb_id" property="membId" jdbcType="BIGINT" />
    <result column="comm_pub_id" property="commPubId" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, memb_id, comm_pub_id, create_by, create_date, update_by, update_date, remarks,
    del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from follow_comm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from follow_comm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.transac.common.entity.FollowComm" >
    insert into follow_comm (id, memb_id, comm_pub_id,
      create_by, create_date, update_by,
      update_date, remarks, del_flag
      )
    values (#{id,jdbcType=BIGINT}, #{membId,jdbcType=BIGINT}, #{commPubId,jdbcType=BIGINT},
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.transac.common.entity.FollowComm" >
    insert into follow_comm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="membId != null" >
        memb_id,
      </if>
      <if test="commPubId != null" >
        comm_pub_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="membId != null" >
        #{membId,jdbcType=BIGINT},
      </if>
      <if test="commPubId != null" >
        #{commPubId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.transac.common.entity.FollowComm" >
    update follow_comm
    <set >
      <if test="membId != null" >
        memb_id = #{membId,jdbcType=BIGINT},
      </if>
      <if test="commPubId != null" >
        comm_pub_id = #{commPubId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.transac.common.entity.FollowComm" >
    update follow_comm
    set memb_id = #{membId,jdbcType=BIGINT},
      comm_pub_id = #{commPubId,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPageList" resultType="com.wisea.transac.common.vo.FollowCommPageListVo" parameterType="com.wisea.transac.common.po.FollowCommPageListPo" >
    select
	  id id,
	  memb_id membId,
	  comm_pub_id commPubId
	from
	  follow_comm
	where
	  del_flag = '0'
  </select>
  <select id="findInfo" resultType="com.wisea.transac.common.vo.FollowCommInfoVo" parameterType="java.lang.Long" >
    select
	  id id,
	  memb_id membId,
	  comm_pub_id commPubId
	from
	  follow_comm
	where
	  del_flag = '0'
	  and id = #{id}
  </select>
  <select id="findSumByUserId" resultType="java.lang.Long" parameterType="com.wisea.transac.common.po.seller.FocusPo">
     select count(id)
        from
          follow_comm
        where
          del_flag = '0'
        and memb_id = #{id}
  </select>
  <select id="findMiniPageList" resultType="com.wisea.transac.common.vo.seller.FollowCommMiniPageListVo" parameterType="com.wisea.transac.common.po.seller.FollowCommMiniPageListPo" >
    select
	  fc.id id,
	  fc.memb_id membId,
	  fc.comm_pub_id commPubId,
      cpi.comm_title commTitle,
      cpic.url url
	from
	  follow_comm fc
		LEFT JOIN comm_pub_info cpi ON cpi.id = fc.comm_pub_id
        LEFT JOIN comm_picture cpic ON cpic.comm_pub_id = fc.comm_pub_id and cpic.del_flag = 0 and cpic.comm_picture_type = 0
        and cpic.sort =(SELECT min( sort ) AS sort
        FROM comm_picture  tmp
        WHERE	del_flag = '0'
        AND comm_picture_type = '0'
        AND tmp.comm_pub_id = cpic.comm_pub_id
        GROUP BY
        comm_pub_id)
    where
	  fc.del_flag = '0'
	  and fc.memb_id =  #{membId}
      <choose>
        <when test="flag != null and flag != ''">
          and cpi.base_id IS NOT NULL
        </when>
        <otherwise>
          and cpi.base_id IS NULL
        </otherwise>
      </choose>
	   <if test="val != null and val != ''">
         AND (cpi.comm_num LIKE CONCAT('%', #{val}, '%')
         OR cpi.comm_title LIKE CONCAT('%', #{val}, '%'))
       </if>
		ORDER BY fc.update_date desc
  </select>
  <select id="findExist" resultType="com.wisea.transac.common.entity.FollowComm" parameterType="com.wisea.transac.common.po.FollowCommPo">
   select
	  id id,
	  memb_id membId,
	  comm_pub_id commPubId,
	  del_flag delFlag
	from
	  follow_comm
	where
	   memb_id = #{membId}
	  and comm_pub_id = #{commPubId}
    <choose>
      <when test="flag != null and flag != ''">
      </when>
      <otherwise>
        and del_flag = '0'
      </otherwise>
    </choose>
  </select>

</mapper>
