<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.transac.common.dao.LocalitySettleBillOpreateInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.transac.common.entity.LocalitySettleBillOpreateInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="settle_id" property="settleId" jdbcType="BIGINT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="opreat_date" property="opreatDate" jdbcType="TIMESTAMP" />
    <result column="operator_content" property="operatorContent" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, settle_id, operator, opreat_date, operator_content, create_by, create_date, update_by,
    update_date, remarks, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from locality_settle_bill_opreate_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from locality_settle_bill_opreate_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.transac.common.entity.LocalitySettleBillOpreateInfo" >
    insert into locality_settle_bill_opreate_info (id, settle_id, operator,
      opreat_date, operator_content, create_by,
      create_date, update_by, update_date,
      remarks, del_flag)
    values (#{id,jdbcType=BIGINT}, #{settleId,jdbcType=BIGINT}, #{operator,jdbcType=VARCHAR},
      #{opreatDate,jdbcType=TIMESTAMP}, #{operatorContent,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.transac.common.entity.LocalitySettleBillOpreateInfo" >
    insert into locality_settle_bill_opreate_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="settleId != null" >
        settle_id,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="opreatDate != null" >
        opreat_date,
      </if>
      <if test="operatorContent != null" >
        operator_content,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="settleId != null" >
        #{settleId,jdbcType=BIGINT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="opreatDate != null" >
        #{opreatDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorContent != null" >
        #{operatorContent,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.transac.common.entity.LocalitySettleBillOpreateInfo" >
    update locality_settle_bill_opreate_info
    <set >
      <if test="settleId != null" >
        settle_id = #{settleId,jdbcType=BIGINT},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="opreatDate != null" >
        opreat_date = #{opreatDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorContent != null" >
        operator_content = #{operatorContent,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.transac.common.entity.LocalitySettleBillOpreateInfo" >
    update locality_settle_bill_opreate_info
    set settle_id = #{settleId,jdbcType=BIGINT},
      operator = #{operator,jdbcType=VARCHAR},
      opreat_date = #{opreatDate,jdbcType=TIMESTAMP},
      operator_content = #{operatorContent,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
