<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.transac.common.dao.PlantationInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wisea.transac.common.entity.PlantationInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="base_id" property="baseId" jdbcType="BIGINT" />
    <result column="plantation_name" property="plantationName" jdbcType="VARCHAR" />
    <result column="plantation_prduct" property="plantationPrduct" jdbcType="VARCHAR" />
    <result column="plantation_mj" property="plantationMj" jdbcType="DOUBLE" />
    <result column="area_prov" property="areaProv" jdbcType="VARCHAR" />
    <result column="area_city" property="areaCity" jdbcType="VARCHAR" />
    <result column="area_cou" property="areaCou" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="conter" property="conter" jdbcType="VARCHAR" />
    <result column="cont_tel" property="contTel" jdbcType="VARCHAR" />
    <result column="plantation_content" property="plantationContent" jdbcType="VARCHAR" />
    <result column="vr_url" property="vrUrl" jdbcType="VARCHAR" />
    <result column="jd" property="jd" jdbcType="VARCHAR" />
    <result column="wd" property="wd" jdbcType="VARCHAR" />
    <result column="ori_name" property="oriName" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, base_id, plantation_name, plantation_prduct, plantation_mj, area_prov, area_city,
    area_cou, address, conter, cont_tel, plantation_content, vr_url, jd, wd, ori_name, create_by,
    create_date, update_by, update_date, remarks, del_flag
  </sql>

  <!-- 根据种植园ID 查询种植园列表 -->
  <select id="findListByBaseId" parameterType="com.wisea.cloud.model.po.LongIdPo" resultType="com.wisea.transac.common.vo.seller.PlantationInfoListVo">
    select
      pi.id,
      pi.base_id baseId,
      pi.plantation_name plantationName,
      pi.plantation_prduct plantationPrduct,
      pi.address address,
      pp.url imgUrl
    from
      plantation_info pi
      left join plantation_picture pp on pi.id = pp.plantation_id and pp.base_picture_type = '0'
    where
      pi.del_flag = '0'
      and pi.base_id = #{id, jdbcType=BIGINT}
    group by
      pi.id
  </select>
  <select id="findListByBaseIdForPage" parameterType="com.wisea.transac.common.po.seller.PlantationInfoPagePo"
          resultType="com.wisea.transac.common.vo.seller.PlantationInfoVo" resultMap="infoResultMap">
    select
      pi.id id,
      pi.base_id baseId,
      pi.plantation_name plantationName,
      pi.plantation_prduct plantationPrduct,
      pi.plantation_mj plantationMj,
      pi.address address,
      pi.conter conter,
      pi.cont_tel contTel,
      pi.plantation_content plantationContent,
      pi.vr_url vrUrl,
      pi.jd jd,
      pi.wd wd,
      pp.url imgUrl
    from
      plantation_info pi
      left join plantation_picture pp on pi.id = pp.plantation_id and pp.base_picture_type = '0'
    where
      pi.base_id = #{baseId, jdbcType=BIGINT}
      and pi.del_flag = '0'
    group by
      pi.id
  </select>

  <!-- 查询种植园详细信息 -->
  <select id="findPlantationInfo" parameterType="com.wisea.cloud.model.po.LongIdPo" resultType="com.wisea.transac.common.vo.seller.PlantationInfoVo" resultMap="infoResultMap">
    select
      pi.id id,
      pi.base_id baseId,
      pi.plantation_name plantationName,
      pi.plantation_prduct plantationPrduct,
      pi.plantation_mj plantationMj,
      pi.address address,
      pi.conter conter,
      pi.cont_tel contTel,
      pi.plantation_content plantationContent,
      pi.vr_url vrUrl,
      pi.jd jd,
      pi.wd wd,
      pi.ori_name oriName
    from
      plantation_info pi
    where
      pi.id = #{id,jdbcType=BIGINT}
  </select>
  <resultMap id="infoResultMap" type="com.wisea.transac.common.vo.seller.PlantationInfoVo">
    <id column="id" property="id" jdbcType="BIGINT" />
    <association property="equInfo" column="id" select="selectEquInfo"/>
    <collection property="files" column="id" select="selectFiles"/>
    <collection property="liveVideos" column="id" select="selectLiveVideos"/>
  </resultMap>
  <!-- 级联查询物联网设备 -->
  <select id="selectEquInfo" parameterType="java.lang.Long" resultType="com.wisea.transac.common.vo.seller.EquInfoVo">
    select
      ps.install_position installPosition,
      ps.equ_manufact equManufact,
      ps.equ_entp_id equEntpId,
      ps.equ_type equType,
      ps.equ_model_id equModelId,
      ps.equ_num equNum
    from
      plantation_sensor ps
    where
      ps.plantation_id = #{id}
  </select>
  <!-- 级联查询种植园图片列表 -->
  <select id="selectFiles" parameterType="java.lang.Long" resultType="com.wisea.transac.common.vo.FileVo">
    select
      pp.url fileUrl,
      pp.base_picture_type fileType,
      pp.sort sort
    from
      plantation_picture pp
    where
      pp.plantation_id = #{id}
    order by
      pp.sort
  </select>
  <!-- 级联查询种植园实时视频列表 -->
  <select id="selectLiveVideos" parameterType="java.lang.Long" resultType="com.wisea.transac.common.vo.LiveVideoVo">
    select
      prtv.id id,
      prtv.install_position installPosition,
      prtv.url url,
      prtv.equ_manufact equManufact,
      prtv.equ_num equNum,
      prtv.sort sort
    from
      plantation_real_time_video prtv
    where
      prtv.plantation_id = #{id}
    order by
      prtv.sort
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from plantation_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from plantation_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wisea.transac.common.entity.PlantationInfo" >
    insert into plantation_info (id, base_id, plantation_name,
      plantation_prduct, plantation_mj, area_prov,
      area_city, area_cou, address,
      conter, cont_tel, plantation_content,
      vr_url, jd, wd, ori_name, create_by,
      create_date, update_by, update_date,
      remarks, del_flag)
    values (#{id,jdbcType=BIGINT}, #{baseId,jdbcType=BIGINT}, #{plantationName,jdbcType=VARCHAR},
      #{plantationPrduct,jdbcType=VARCHAR}, #{plantationMj,jdbcType=DOUBLE}, #{areaProv,jdbcType=VARCHAR},
      #{areaCity,jdbcType=VARCHAR}, #{areaCou,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{conter,jdbcType=VARCHAR}, #{contTel,jdbcType=VARCHAR}, #{plantationContent,jdbcType=VARCHAR},
      #{vrUrl,jdbcType=VARCHAR}, #{jd,jdbcType=VARCHAR}, #{wd,jdbcType=VARCHAR}, #{oriName,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisea.transac.common.entity.PlantationInfo" >
    insert into plantation_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="baseId != null" >
        base_id,
      </if>
      <if test="plantationName != null" >
        plantation_name,
      </if>
      <if test="plantationPrduct != null" >
        plantation_prduct,
      </if>
      <if test="plantationMj != null" >
        plantation_mj,
      </if>
      <if test="areaProv != null" >
        area_prov,
      </if>
      <if test="areaCity != null" >
        area_city,
      </if>
      <if test="areaCou != null" >
        area_cou,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="conter != null" >
        conter,
      </if>
      <if test="contTel != null" >
        cont_tel,
      </if>
      <if test="plantationContent != null" >
        plantation_content,
      </if>
      <if test="vrUrl != null" >
        vr_url,
      </if>
      <if test="jd != null" >
        jd,
      </if>
      <if test="wd != null" >
        wd,
      </if>
      <if test="oriName != null" >
        oriName,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="baseId != null" >
        #{baseId,jdbcType=BIGINT},
      </if>
      <if test="plantationName != null" >
        #{plantationName,jdbcType=VARCHAR},
      </if>
      <if test="plantationPrduct != null" >
        #{plantationPrduct,jdbcType=VARCHAR},
      </if>
      <if test="plantationMj != null" >
        #{plantationMj,jdbcType=DOUBLE},
      </if>
      <if test="areaProv != null" >
        #{areaProv,jdbcType=VARCHAR},
      </if>
      <if test="areaCity != null" >
        #{areaCity,jdbcType=VARCHAR},
      </if>
      <if test="areaCou != null" >
        #{areaCou,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="conter != null" >
        #{conter,jdbcType=VARCHAR},
      </if>
      <if test="contTel != null" >
        #{contTel,jdbcType=VARCHAR},
      </if>
      <if test="plantationContent != null" >
        #{plantationContent,jdbcType=VARCHAR},
      </if>
      <if test="vrUrl != null" >
        #{vrUrl,jdbcType=VARCHAR},
      </if>
      <if test="jd != null" >
        #{jd,jdbcType=VARCHAR},
      </if>
      <if test="wd != null" >
        #{wd,jdbcType=VARCHAR},
      </if>
      <if test="oriName != null" >
        #{ori_name,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisea.transac.common.entity.PlantationInfo" >
    update plantation_info
    <set >
      <if test="baseId != null" >
        base_id = #{baseId,jdbcType=BIGINT},
      </if>
      <if test="plantationName != null" >
        plantation_name = #{plantationName,jdbcType=VARCHAR},
      </if>
      <if test="plantationPrduct != null" >
        plantation_prduct = #{plantationPrduct,jdbcType=VARCHAR},
      </if>
      <if test="plantationMj != null" >
        plantation_mj = #{plantationMj,jdbcType=DOUBLE},
      </if>
      <if test="areaProv != null" >
        area_prov = #{areaProv,jdbcType=VARCHAR},
      </if>
      <if test="areaCity != null" >
        area_city = #{areaCity,jdbcType=VARCHAR},
      </if>
      <if test="areaCou != null" >
        area_cou = #{areaCou,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="conter != null" >
        conter = #{conter,jdbcType=VARCHAR},
      </if>
      <if test="contTel != null" >
        cont_tel = #{contTel,jdbcType=VARCHAR},
      </if>
      <if test="plantationContent != null" >
        plantation_content = #{plantationContent,jdbcType=VARCHAR},
      </if>
      <if test="vrUrl != null" >
        vr_url = #{vrUrl,jdbcType=VARCHAR},
      </if>
      <if test="jd != null" >
        jd = #{jd,jdbcType=VARCHAR},
      </if>
      <if test="oriName != null" >
        ori_name = #{oriName,jdbcType=VARCHAR},
      </if>
      <if test="wd != null" >
        wd = #{wd,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisea.transac.common.entity.PlantationInfo" >
    update plantation_info
    set base_id = #{baseId,jdbcType=BIGINT},
      plantation_name = #{plantationName,jdbcType=VARCHAR},
      plantation_prduct = #{plantationPrduct,jdbcType=VARCHAR},
      plantation_mj = #{plantationMj,jdbcType=DOUBLE},
      area_prov = #{areaProv,jdbcType=VARCHAR},
      area_city = #{areaCity,jdbcType=VARCHAR},
      area_cou = #{areaCou,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      conter = #{conter,jdbcType=VARCHAR},
      cont_tel = #{contTel,jdbcType=VARCHAR},
      plantation_content = #{plantationContent,jdbcType=VARCHAR},
      vr_url = #{vrUrl,jdbcType=VARCHAR},
      jd = #{jd,jdbcType=VARCHAR},
      wd = #{wd,jdbcType=VARCHAR},
      ori_name = #{oriName,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findAllByBaseId" parameterType="java.lang.Long" resultType="com.wisea.transac.common.entity.PlantationInfo">
    select * from plantation_info
    where del_flag = '0'
    and base_id = #{baseId}
  </select>
  <select id="countAndAreaSum" parameterType="java.lang.Long"
          resultType="com.wisea.transac.common.vo.BaseStatVo">
    select count(id)            piCount,
           sum(plantation_mj)   piArea
    from plantation_info
    where del_flag = '0'
    and base_id = #{baseId}
  </select>
</mapper>
