<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.transac.common.dao.StorageInfoMapper">
    <resultMap id="BaseResultMap" type="com.wisea.transac.common.entity.StorageInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="base_id" property="baseId" jdbcType="BIGINT"/>
        <result column="storage_name" property="storageName" jdbcType="VARCHAR"/>
        <result column="storage_mj" property="storageMj" jdbcType="DOUBLE"/>
        <result column="wareh_type" property="warehType" jdbcType="VARCHAR"/>
        <result column="storage_content" property="storageContent" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, base_id, storage_name, storage_mj, wareh_type, storage_content, create_by,
        create_date, update_by, update_date, remarks, del_flag
    </sql>
    <!-- 根据基地ID查询基地仓储列表 -->
    <select id="findListByBaseId" parameterType="com.wisea.cloud.model.po.LongIdPo" resultType="com.wisea.transac.common.vo.seller.StorageInfoListVo">
        select
            si.id id,
            si.base_id baseId,
            si.storage_name storageName,
            si.storage_mj storageMj,
            si.wareh_type warehType,
            ss.equ_manufact equManufact,
            ss.equ_entp_id equEntpId,
            ss.equ_type equType,
            ss.equ_num equNum,
            sp.url imgUrl
        from
            storage_info si
            left join storage_sensor ss on ss.storage_id = si.id
            left join storage_picture sp on sp.storage_id = si.id and sp.base_picture_type = '0'
        where
            si.base_id = #{id}
            and si.del_flag = '0'
        group by
            si.id
    </select>

    <!-- 查询仓储详细信息 -->
    <select id="findStorageInfo" parameterType="com.wisea.cloud.model.po.LongIdPo" resultType="com.wisea.transac.common.vo.seller.StorageInfoVo" resultMap="infoResultMap">
        select
            si.id id,
            si.base_id baseId,
            si.storage_name storageName,
            si.storage_mj storageMj,
            si.wareh_type warehType,
            si.storage_content storageContent
        from
            storage_info si
        where
            si.id = #{id, jdbcType=BIGINT}
            and si.del_flag = '0'
    </select>
    <resultMap id="infoResultMap" type="com.wisea.transac.common.vo.seller.StorageInfoVo">
        <id column="id" property="id" jdbcType="BIGINT" />
        <association property="equInfo" column="id" select="selectEquInfo"/>
        <collection property="files" column="id" select="selectFiles"/>
        <collection property="liveVideos" column="id" select="selectLiveVideos"/>
    </resultMap>
    <!-- 级联查询物联网设备 -->
    <select id="selectEquInfo" parameterType="java.lang.Long" resultType="com.wisea.transac.common.vo.seller.EquInfoVo">
        select
            ss.install_position installPosition,
            ss.equ_manufact equManufact,
            ss.equ_entp_id equEntpId,
            ss.equ_type equType,
            ss.equ_model_id equModelId,
            ss.equ_num equNum
        from
            storage_sensor ss
        where
            ss.storage_id = #{id}
    </select>
    <!-- 级联查询分选工厂图片列表 -->
    <select id="selectFiles" parameterType="java.lang.Long" resultType="com.wisea.transac.common.vo.FileVo">
        select
            sp.url fileUrl,
            sp.base_picture_type fileType,
            sp.sort sort
        from
            storage_picture sp
        where
            sp.storage_id = #{id}
        order by
            sp.sort
    </select>
    <!-- 级联查询分选工厂实时视频列表 -->
    <select id="selectLiveVideos" parameterType="java.lang.Long" resultType="com.wisea.transac.common.vo.LiveVideoVo">
        select
            srtv.id id,
            srtv.install_position installPosition,
            srtv.url url,
            srtv.equ_manufact equManufact,
            srtv.equ_num equNum,
            srtv.sort sort
        from
            storage_real_time_video srtv
        where
            srtv.storage_id = #{id}
        order by
            srtv.sort
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from storage_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from storage_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.wisea.transac.common.entity.StorageInfo">
        insert into storage_info (id, base_id, storage_name,
                                  storage_mj, wareh_type, storage_content,
                                  create_by, create_date, update_by,
                                  update_date, remarks, del_flag)
        values (#{id,jdbcType=BIGINT}, #{baseId,jdbcType=BIGINT}, #{storageName,jdbcType=VARCHAR},
                #{storageMj,jdbcType=DOUBLE}, #{warehType,jdbcType=VARCHAR}, #{storageContent,jdbcType=VARCHAR},
                #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
                #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.wisea.transac.common.entity.StorageInfo">
        insert into storage_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="baseId != null">
                base_id,
            </if>
            <if test="storageName != null">
                storage_name,
            </if>
            <if test="storageMj != null">
                storage_mj,
            </if>
            <if test="warehType != null">
                wareh_type,
            </if>
            <if test="storageContent != null">
                storage_content,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="baseId != null">
                #{baseId,jdbcType=BIGINT},
            </if>
            <if test="storageName != null">
                #{storageName,jdbcType=VARCHAR},
            </if>
            <if test="storageMj != null">
                #{storageMj,jdbcType=DOUBLE},
            </if>
            <if test="warehType != null">
                #{warehType,jdbcType=VARCHAR},
            </if>
            <if test="storageContent != null">
                #{storageContent,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wisea.transac.common.entity.StorageInfo">
        update storage_info
        <set>
            <if test="baseId != null">
                base_id = #{baseId,jdbcType=BIGINT},
            </if>
            <if test="storageName != null">
                storage_name = #{storageName,jdbcType=VARCHAR},
            </if>
            <if test="storageMj != null">
                storage_mj = #{storageMj,jdbcType=DOUBLE},
            </if>
            <if test="warehType != null">
                wareh_type = #{warehType,jdbcType=VARCHAR},
            </if>
            <if test="storageContent != null">
                storage_content = #{storageContent,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wisea.transac.common.entity.StorageInfo">
        update storage_info
        set base_id         = #{baseId,jdbcType=BIGINT},
            storage_name    = #{storageName,jdbcType=VARCHAR},
            storage_mj      = #{storageMj,jdbcType=DOUBLE},
            wareh_type    = #{warehType,jdbcType=VARCHAR},
            storage_content = #{storageContent,jdbcType=VARCHAR},
            create_by       = #{createBy,jdbcType=VARCHAR},
            create_date     = #{createDate,jdbcType=TIMESTAMP},
            update_by       = #{updateBy,jdbcType=VARCHAR},
            update_date     = #{updateDate,jdbcType=TIMESTAMP},
            remarks         = #{remarks,jdbcType=VARCHAR},
            del_flag        = #{delFlag,jdbcType=CHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findAllByBaseId" parameterType="java.lang.Long"
            resultType="com.wisea.transac.common.entity.StorageInfo">
        select *
        from storage_info
        where del_flag = '0'
          and base_id = #{baseId}
    </select>
    <select id="countAndAreaSum" parameterType="java.lang.Long"
            resultType="com.wisea.transac.common.vo.BaseStatVo">
        select count(id)                    siCount,
               ifnull(sum(storage_mj),0)    siArea
        from storage_info
        where del_flag = '0'
          and base_id = #{baseId}
    </select>
</mapper>
