<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisea.transac.common.dao.TradAreaCommRelaMageMapper">
    <resultMap id="BaseResultMap" type="com.wisea.transac.common.entity.TradAreaCommRelaMage">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="trad_area_id" property="tradAreaId" jdbcType="BIGINT"/>
        <result column="comm_sale_set_id" property="commSaleSetId" jdbcType="BIGINT"/>
        <result column="catg_name" property="catgName" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="if_display_type" property="ifDisplayType" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , trad_area_id, comm_sale_set_id, catg_name, sort, if_display_type, create_by,
    create_date, update_by, update_date, remarks, del_flag
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from trad_area_comm_rela_mage
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from trad_area_comm_rela_mage
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.wisea.transac.common.entity.TradAreaCommRelaMage">
        insert into trad_area_comm_rela_mage (id, trad_area_id, comm_sale_set_id,
                                              catg_name, sort, if_display_type,
                                              create_by, create_date, update_by,
                                              update_date, remarks, del_flag)
        values (#{id,jdbcType=BIGINT}, #{tradAreaId,jdbcType=BIGINT}, #{commSaleSetId,jdbcType=BIGINT},
                #{catgName,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{ifDisplayType,jdbcType=VARCHAR},
                #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
                #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.wisea.transac.common.entity.TradAreaCommRelaMage">
        insert into trad_area_comm_rela_mage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tradAreaId != null">
                trad_area_id,
            </if>
            <if test="commSaleSetId != null">
                comm_sale_set_id,
            </if>
            <if test="catgName != null">
                catg_name,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="ifDisplayType != null">
                if_display_type,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="tradAreaId != null">
                #{tradAreaId,jdbcType=BIGINT},
            </if>
            <if test="commSaleSetId != null">
                #{commSaleSetId,jdbcType=BIGINT},
            </if>
            <if test="catgName != null">
                #{catgName,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="ifDisplayType != null">
                #{ifDisplayType,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wisea.transac.common.entity.TradAreaCommRelaMage">
        update trad_area_comm_rela_mage
        <set>
            <if test="tradAreaId != null">
                trad_area_id = #{tradAreaId,jdbcType=BIGINT},
            </if>
            <if test="commSaleSetId != null">
                comm_sale_set_id = #{commSaleSetId,jdbcType=BIGINT},
            </if>
            <if test="catgName != null">
                catg_name = #{catgName,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="ifDisplayType != null">
                if_display_type = #{ifDisplayType,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wisea.transac.common.entity.TradAreaCommRelaMage">
        update trad_area_comm_rela_mage
        set trad_area_id     = #{tradAreaId,jdbcType=BIGINT},
            comm_sale_set_id = #{commSaleSetId,jdbcType=BIGINT},
            catg_name        = #{catgName,jdbcType=VARCHAR},
            sort             = #{sort,jdbcType=INTEGER},
            if_display_type  = #{ifDisplayType,jdbcType=VARCHAR},
            create_by        = #{createBy,jdbcType=VARCHAR},
            create_date      = #{createDate,jdbcType=TIMESTAMP},
            update_by        = #{updateBy,jdbcType=VARCHAR},
            update_date      = #{updateDate,jdbcType=TIMESTAMP},
            remarks          = #{remarks,jdbcType=VARCHAR},
            del_flag         = #{delFlag,jdbcType=CHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="findPage" resultType="com.wisea.transac.common.vo.system.TradAreaCommRelaMageListVo"
            parameterType="com.wisea.transac.common.po.system.TradAreaCommRelaMagePagePo">
        select
        <include refid="Base_Column_List"/>
        from trad_area_comm_rela_mage
        where del_flag = '0'
    </select>
    <select id="findList" resultType="com.wisea.transac.common.vo.system.TradAreaCommRelaMageListVo"
            parameterType="com.wisea.transac.common.po.system.TradAreaCommRelaMageListPo">
        select tacrm.*,
        csc.id as commSaleCatgId,
        csc.pid as commSaleCatgPid,
        csc.pid as pid,
        '2'     as level
        from trad_area_comm_rela_mage tacrm
        left join comm_sale_set css on tacrm.comm_sale_set_id = css.id
        left join comm_sale_catg csc on csc.id = css.comm_sale_catg_id
        where tacrm.del_flag = '0'
        and css.del_flag = '0'
        and csc.del_flag = '0'
        <if test="tradAreaId!=null">
            and tacrm.trad_area_id = #{tradAreaId}
        </if>
        <if test="ifDisplayType!=null and ifDisplayType!=''">
            and tacrm.if_display_type = #{ifDisplayType}
        </if>
        order by tacrm.sort asc
    </select>
    <update id="deleteLogic" parameterType="com.wisea.transac.common.entity.TradAreaCommRelaMage">
        update trad_area_comm_rela_mage
        set del_flag    = '1',
            update_by   = #{updateBy,jdbcType=VARCHAR},
            update_date = #{updateDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="countAllComm" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(distinct cpi.id)
        from trad_area_comm_rela_mage tacrm
                 left join comm_sale_set css on tacrm.comm_sale_set_id = css.id
                 left join comm_pub_info cpi on css.id = cpi.comm_sale_set_id
        where css.del_flag = '0'
          and tacrm.del_flag = '0'
          and cpi.del_flag = '0'
          and tacrm.if_display_type = '0'
          and tacrm.trad_area_id = #{tradAreaId}
    </select>
    <update id="deleteByAreaId" parameterType="java.lang.Long">
        update trad_area_comm_rela_mage
        set del_flag = '1'
        where del_flag = '0'
          and trad_area_id = #{tradAreaId}
    </update>
    <!-- 交易区中是否关联了销售分类设置 -->
    <select id="selectAreaCommRelaCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(distinct tacrm.id)
        from trad_area_comm_rela_mage tacrm
        where tacrm.del_flag = '0'
          and tacrm.comm_sale_set_id = #{id}
    </select>
    <!-- 根据销售品类设置id 物理删除 对应的交易区关系 -->
    <delete id="delBySalesClassRelaId" parameterType="java.lang.Long">
        DELETE
        FROM trad_area_comm_rela_mage
        WHERE comm_sale_set_id = #{id}
    </delete>
</mapper>
